{
  "Sources": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_source": [
      "self",
      "request"
    ],
    "delete_source": [
      "self",
      "request"
    ],
    "get_source": [
      "self",
      "request"
    ],
    "initiate_o_auth": [
      "self",
      "request"
    ],
    "list_sources": [
      "self",
      "request"
    ],
    "patch_source": [
      "self",
      "request"
    ],
    "put_source": [
      "self",
      "request"
    ]
  },
  "Workspaces": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_or_update_workspace_o_auth_credentials": [
      "self",
      "request"
    ],
    "create_workspace": [
      "self",
      "request"
    ],
    "delete_workspace": [
      "self",
      "request"
    ],
    "get_workspace": [
      "self",
      "request"
    ],
    "list_workspaces": [
      "self",
      "request"
    ],
    "update_workspace": [
      "self",
      "request"
    ]
  },
  "SERVERS": [],
  "SDKConfiguration": {
    "__post_init__": [
      "self"
    ],
    "get_server_details": [
      "self"
    ],
    "get_hooks": [
      "self"
    ]
  },
  "Organizations": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_or_update_organization_o_auth_credentials": [
      "self",
      "request"
    ],
    "list_organizations_for_user": [
      "self"
    ]
  },
  "Permissions": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_permission": [
      "self",
      "request"
    ],
    "delete_permission": [
      "self",
      "request"
    ],
    "get_permission": [
      "self",
      "request"
    ],
    "list_permissions": [
      "self",
      "request"
    ],
    "update_permission": [
      "self",
      "request"
    ]
  },
  "Streams": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "get_stream_properties": [
      "self",
      "request"
    ]
  },
  "AirbyteAPI": {
    "__init__": [
      "self",
      "security",
      "server_idx",
      "server_url",
      "url_params",
      "client",
      "retry_config"
    ],
    "_init_sdks": [
      "self"
    ]
  },
  "DestinationDefinitions": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_destination_definition": [
      "self",
      "request"
    ],
    "delete_destination_definition": [
      "self",
      "request"
    ],
    "get_destination_definition": [
      "self",
      "request"
    ],
    "list_destination_definitions": [
      "self",
      "request"
    ],
    "update_destination_definition": [
      "self",
      "request"
    ]
  },
  "SourceDefinitions": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_source_definition": [
      "self",
      "request"
    ],
    "delete_source_definition": [
      "self",
      "request"
    ],
    "get_source_definition": [
      "self",
      "request"
    ],
    "list_source_definitions": [
      "self",
      "request"
    ],
    "update_source_definition": [
      "self",
      "request"
    ]
  },
  "DeclarativeSourceDefinitions": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_declarative_source_definition": [
      "self",
      "request"
    ],
    "delete_declarative_source_definition": [
      "self",
      "request"
    ],
    "get_declarative_source_definition": [
      "self",
      "request"
    ],
    "list_declarative_source_definitions": [
      "self",
      "request"
    ],
    "update_declarative_source_definition": [
      "self",
      "request"
    ]
  },
  "Connections": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_connection": [
      "self",
      "request"
    ],
    "delete_connection": [
      "self",
      "request"
    ],
    "get_connection": [
      "self",
      "request"
    ],
    "list_connections": [
      "self",
      "request"
    ],
    "patch_connection": [
      "self",
      "request"
    ]
  },
  "Tags": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_tag": [
      "self",
      "request"
    ],
    "delete_tag": [
      "self",
      "request"
    ],
    "get_tag": [
      "self",
      "request"
    ],
    "list_tags": [
      "self",
      "request"
    ],
    "update_tag": [
      "self",
      "request"
    ]
  },
  "Health": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "get_health_check": [
      "self"
    ]
  },
  "Jobs": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "cancel_job": [
      "self",
      "request"
    ],
    "create_job": [
      "self",
      "request"
    ],
    "get_job": [
      "self",
      "request"
    ],
    "list_jobs": [
      "self",
      "request"
    ]
  },
  "Destinations": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "create_destination": [
      "self",
      "request"
    ],
    "delete_destination": [
      "self",
      "request"
    ],
    "get_destination": [
      "self",
      "request"
    ],
    "list_destinations": [
      "self",
      "request"
    ],
    "patch_destination": [
      "self",
      "request"
    ],
    "put_destination": [
      "self",
      "request"
    ]
  },
  "Users": {
    "__init__": [
      "self",
      "sdk_config"
    ],
    "list_users_within_an_organization": [
      "self",
      "request"
    ]
  },
  "init_hooks": [
    "hooks"
  ],
  "Credentials": {
    "__init__": [
      "self",
      "client_id",
      "client_secret",
      "token_url"
    ]
  },
  "Session": {
    "__init__": [
      "self",
      "credentials",
      "token",
      "scopes",
      "expires_at"
    ]
  },
  "ClientCredentialsHook": {
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ],
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ],
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ],
    "get_credentials": [
      "self",
      "source"
    ],
    "do_token_request": [
      "self",
      "credentials",
      "scopes"
    ],
    "get_session_key": [
      "self",
      "client_id",
      "client_secret"
    ],
    "has_required_scopes": [
      "self",
      "scopes",
      "required_scopes"
    ],
    "get_scopes": [
      "self",
      "required_scopes",
      "sess"
    ],
    "has_token_expired": [
      "self",
      "expires_at"
    ]
  },
  "HookContext": {
    "__init__": [
      "self",
      "operation_id",
      "oauth2_scopes",
      "security_source"
    ]
  },
  "BeforeRequestContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "AfterSuccessContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "AfterErrorContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "SDKInitHook": {
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ]
  },
  "BeforeRequestHook": {
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ]
  },
  "AfterSuccessHook": {
    "after_success": [
      "self",
      "hook_ctx",
      "response"
    ]
  },
  "AfterErrorHook": {
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ]
  },
  "Hooks": {
    "register_sdk_init_hook": [
      "self",
      "hook"
    ],
    "register_before_request_hook": [
      "self",
      "hook"
    ],
    "register_after_success_hook": [
      "self",
      "hook"
    ],
    "register_after_error_hook": [
      "self",
      "hook"
    ]
  },
  "SDKHooks": {
    "__init__": [
      "self"
    ],
    "register_sdk_init_hook": [
      "self",
      "hook"
    ],
    "register_before_request_hook": [
      "self",
      "hook"
    ],
    "register_after_success_hook": [
      "self",
      "hook"
    ],
    "register_after_error_hook": [
      "self",
      "hook"
    ],
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ],
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ],
    "after_success": [
      "self",
      "hook_ctx",
      "response"
    ],
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ]
  },
  "get_security": [
    "security"
  ],
  "_parse_security_option": [
    "headers",
    "query_params",
    "option"
  ],
  "_parse_security_scheme": [
    "headers",
    "query_params",
    "scheme_metadata",
    "scheme"
  ],
  "_parse_security_scheme_value": [
    "headers",
    "query_params",
    "scheme_metadata",
    "security_metadata",
    "value"
  ],
  "_apply_bearer": [
    "token"
  ],
  "_parse_basic_auth_scheme": [
    "headers",
    "scheme"
  ],
  "generate_url": [
    "server_url",
    "path",
    "path_params",
    "gbls"
  ],
  "_populate_path_params": [
    "path_params",
    "gbls",
    "path_param_values",
    "skip_fields"
  ],
  "is_optional": [
    "field"
  ],
  "template_url": [
    "url_with_params",
    "params"
  ],
  "get_query_params": [
    "query_params",
    "gbls"
  ],
  "_populate_query_params": [
    "query_params",
    "gbls",
    "query_param_values",
    "skip_fields"
  ],
  "get_headers": [
    "headers_params",
    "gbls"
  ],
  "_populate_headers": [
    "headers_params",
    "gbls",
    "header_values",
    "skip_fields"
  ],
  "_get_serialized_params": [
    "metadata",
    "field_type",
    "field_name",
    "obj"
  ],
  "_populate_deep_object_query_params": [
    "metadata",
    "field_name",
    "obj",
    "params"
  ],
  "_populate_deep_object_query_params_dataclass": [
    "prior_params_key",
    "obj",
    "params"
  ],
  "_populate_deep_object_query_params_dict": [
    "prior_params_key",
    "value",
    "params"
  ],
  "_populate_deep_object_query_params_list": [
    "params_key",
    "value",
    "params"
  ],
  "_get_query_param_field_name": [
    "obj_field"
  ],
  "_populate_delimited_query_params": [
    "metadata",
    "field_name",
    "obj",
    "delimiter",
    "query_param_values"
  ],
  "SERIALIZATION_METHOD_TO_CONTENT_TYPE": [],
  "serialize_request_body": [
    "request",
    "request_type",
    "request_field_name",
    "nullable",
    "optional",
    "serialization_method",
    "encoder"
  ],
  "serialize_content_type": [
    "field_name",
    "request_type",
    "media_type",
    "request",
    "encoder"
  ],
  "serialize_multipart_form": [
    "media_type",
    "request"
  ],
  "serialize_dict": [
    "original",
    "explode",
    "field_name",
    "existing"
  ],
  "serialize_form_data": [
    "field_name",
    "data"
  ],
  "_get_form_field_name": [
    "obj_field"
  ],
  "_populate_form": [
    "field_name",
    "explode",
    "obj",
    "get_field_name_func",
    "delimiter",
    "form"
  ],
  "_serialize_header": [
    "explode",
    "obj"
  ],
  "unmarshal_json": [
    "data",
    "typ",
    "decoder",
    "infer_missing"
  ],
  "marshal_json": [
    "val",
    "typ",
    "encoder"
  ],
  "match_content_type": [
    "content_type",
    "pattern"
  ],
  "match_status_codes": [
    "status_codes",
    "status_code"
  ],
  "datetimeisoformat": [
    "optional"
  ],
  "dateisoformat": [
    "optional"
  ],
  "datefromisoformat": [
    "date_str"
  ],
  "bigintencoder": [
    "optional"
  ],
  "bigintdecoder": [
    "val"
  ],
  "integerstrencoder": [
    "optional"
  ],
  "integerstrdecoder": [
    "val"
  ],
  "numberstrencoder": [
    "optional"
  ],
  "numberstrdecoder": [
    "val"
  ],
  "decimalencoder": [
    "optional",
    "as_str"
  ],
  "decimaldecoder": [
    "val"
  ],
  "map_encoder": [
    "optional",
    "value_encoder"
  ],
  "map_decoder": [
    "value_decoder"
  ],
  "list_encoder": [
    "optional",
    "value_encoder"
  ],
  "list_decoder": [
    "value_decoder"
  ],
  "union_encoder": [
    "all_encoders"
  ],
  "union_decoder": [
    "all_decoders"
  ],
  "get_field_name": [
    "name"
  ],
  "_val_to_string": [
    "val"
  ],
  "_populate_from_globals": [
    "param_name",
    "value",
    "param_type",
    "gbls"
  ],
  "decoder_with_discriminator": [
    "field_name"
  ],
  "remove_suffix": [
    "input_string",
    "suffix"
  ],
  "decodeunset": [
    "decoder"
  ],
  "BackoffStrategy": {
    "__init__": [
      "self",
      "initial_interval",
      "max_interval",
      "exponent",
      "max_elapsed_time"
    ]
  },
  "RetryConfig": {
    "__init__": [
      "self",
      "strategy",
      "backoff",
      "retry_connection_errors"
    ]
  },
  "Retries": {
    "__init__": [
      "self",
      "config",
      "status_codes"
    ]
  },
  "TemporaryError": {
    "__init__": [
      "self",
      "response"
    ]
  },
  "PermanentError": {
    "__init__": [
      "self",
      "inner"
    ]
  },
  "retry": [
    "func",
    "retries"
  ],
  "retry_with_backoff": [
    "func",
    "initial_interval",
    "max_interval",
    "exponent",
    "max_elapsed_time"
  ],
  "CancelJobRequest": {},
  "CancelJobResponse": {},
  "ListDeclarativeSourceDefinitionsRequest": {},
  "ListDeclarativeSourceDefinitionsResponse": {},
  "GetConnectionRequest": {},
  "GetConnectionResponse": {},
  "ListSourceDefinitionsRequest": {},
  "ListSourceDefinitionsResponse": {},
  "GetDestinationDefinitionRequest": {},
  "GetDestinationDefinitionResponse": {},
  "DeleteConnectionRequest": {},
  "DeleteConnectionResponse": {},
  "PutSourceRequest": {},
  "PutSourceResponse": {},
  "DeleteDestinationRequest": {},
  "DeleteDestinationResponse": {},
  "UpdateDeclarativeSourceDefinitionRequest": {},
  "UpdateDeclarativeSourceDefinitionResponse": {},
  "PatchSourceRequest": {},
  "PatchSourceResponse": {},
  "GetDeclarativeSourceDefinitionRequest": {},
  "GetDeclarativeSourceDefinitionResponse": {},
  "InitiateOAuthResponse": {},
  "CreateJobResponse": {},
  "DeleteSourceRequest": {},
  "DeleteSourceResponse": {},
  "ListDestinationsRequest": {},
  "ListDestinationsResponse": {},
  "DeletePermissionRequest": {},
  "DeletePermissionResponse": {},
  "GetHealthCheckResponse": {},
  "DeleteDestinationDefinitionRequest": {},
  "DeleteDestinationDefinitionResponse": {},
  "CreateOrUpdateWorkspaceOAuthCredentialsRequest": {},
  "CreateOrUpdateWorkspaceOAuthCredentialsResponse": {},
  "ListSourcesRequest": {},
  "ListSourcesResponse": {},
  "PutDestinationRequest": {},
  "PutDestinationResponse": {},
  "UpdatePermissionRequest": {},
  "UpdatePermissionResponse": {},
  "CreateDeclarativeSourceDefinitionRequest": {},
  "CreateDeclarativeSourceDefinitionResponse": {},
  "GetTagRequest": {},
  "GetTagResponse": {},
  "GetDestinationRequest": {},
  "GetDestinationResponse": {},
  "CreateSourceResponse": {},
  "__all__": [],
  "PatchDestinationRequest": {},
  "PatchDestinationResponse": {},
  "GetStreamPropertiesRequest": {},
  "GetStreamPropertiesResponse": {},
  "CreateDestinationDefinitionRequest": {},
  "CreateDestinationDefinitionResponse": {},
  "UpdateWorkspaceRequest": {},
  "UpdateWorkspaceResponse": {},
  "DeleteWorkspaceRequest": {},
  "DeleteWorkspaceResponse": {},
  "CreateConnectionResponse": {},
  "CreateDestinationResponse": {},
  "CreateWorkspaceResponse": {},
  "CreatePermissionResponse": {},
  "PatchConnectionRequest": {},
  "PatchConnectionResponse": {},
  "UpdateSourceDefinitionRequest": {},
  "UpdateSourceDefinitionResponse": {},
  "CreateOrUpdateOrganizationOAuthCredentialsRequest": {},
  "CreateOrUpdateOrganizationOAuthCredentialsResponse": {},
  "GetSourceRequest": {},
  "GetSourceResponse": {},
  "ListUsersWithinAnOrganizationRequest": {},
  "ListUsersWithinAnOrganizationResponse": {},
  "DeleteDeclarativeSourceDefinitionRequest": {},
  "DeleteDeclarativeSourceDefinitionResponse": {},
  "GetWorkspaceRequest": {},
  "GetWorkspaceResponse": {},
  "ListWorkspacesRequest": {},
  "ListWorkspacesResponse": {},
  "CreateTagResponse": {},
  "DeleteTagRequest": {},
  "DeleteTagResponse": {},
  "ListOrganizationsForUserResponse": {},
  "GetJobRequest": {},
  "GetJobResponse": {},
  "ListJobsRequest": {},
  "ListJobsResponse": {},
  "ListConnectionsRequest": {},
  "ListConnectionsResponse": {},
  "DeleteSourceDefinitionRequest": {},
  "DeleteSourceDefinitionResponse": {},
  "GetPermissionRequest": {},
  "GetPermissionResponse": {},
  "CreateSourceDefinitionRequest": {},
  "CreateSourceDefinitionResponse": {},
  "ListTagsRequest": {},
  "ListTagsResponse": {},
  "GetSourceDefinitionRequest": {},
  "GetSourceDefinitionResponse": {},
  "UpdateDestinationDefinitionRequest": {},
  "UpdateDestinationDefinitionResponse": {},
  "ListPermissionsRequest": {},
  "ListPermissionsResponse": {},
  "UpdateTagRequest": {},
  "UpdateTagResponse": {},
  "ListDestinationDefinitionsRequest": {},
  "ListDestinationDefinitionsResponse": {},
  "Payfit": {
    "PAYFIT": []
  },
  "SourcePayfit": {},
  "SourceCustomerIoCustomerIo": {
    "CUSTOMER_IO": []
  },
  "SourceCustomerIo": {},
  "Yotpo": {
    "YOTPO": []
  },
  "SourceYotpo": {},
  "ConnectionResponse": {},
  "Nasa": {
    "NASA": []
  },
  "SourceNasa": {},
  "RowFilteringOperationType": {
    "EQUAL": [],
    "NOT": []
  },
  "AppleSearchAds": {
    "APPLE_SEARCH_ADS": []
  },
  "TimeZone": {
    "ORTZ": [],
    "UTC": []
  },
  "SourceAppleSearchAds": {},
  "SplitIo": {
    "SPLIT_IO": []
  },
  "SourceSplitIo": {},
  "Campayn": {
    "CAMPAYN": []
  },
  "SourceCampayn": {},
  "Pinecone": {
    "PINECONE": []
  },
  "DestinationPineconeSchemasEmbeddingEmbedding5Mode": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationPineconeOpenAICompatible": {},
  "DestinationPineconeSchemasEmbeddingEmbeddingMode": {
    "AZURE_OPENAI": []
  },
  "DestinationPineconeAzureOpenAI": {},
  "DestinationPineconeSchemasEmbeddingMode": {
    "FAKE": []
  },
  "DestinationPineconeFake": {},
  "DestinationPineconeSchemasMode": {
    "COHERE": []
  },
  "DestinationPineconeCohere": {},
  "DestinationPineconeMode": {
    "OPENAI": []
  },
  "DestinationPineconeOpenAI": {},
  "DestinationPineconeIndexing": {},
  "DestinationPineconeFieldNameMappingConfigModel": {},
  "DestinationPineconeLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationPineconeSchemasProcessingTextSplitterTextSplitterMode": {
    "CODE": []
  },
  "DestinationPineconeByProgrammingLanguage": {},
  "DestinationPineconeSchemasProcessingTextSplitterMode": {
    "MARKDOWN": []
  },
  "DestinationPineconeByMarkdownHeader": {},
  "DestinationPineconeSchemasProcessingMode": {
    "SEPARATOR": []
  },
  "DestinationPineconeBySeparator": {},
  "DestinationPineconeProcessingConfigModel": {},
  "DestinationPinecone": {},
  "DestinationPineconeEmbedding": [],
  "DestinationPineconeTextSplitter": [],
  "SmartsheetsCredentials": {},
  "Smartsheets": {},
  "Calendly": {
    "CALENDLY": []
  },
  "SourceCalendly": {},
  "SourceConvertkitSchemasAuthType": {
    "API_KEY": []
  },
  "APIKey": {},
  "SourceConvertkitAuthType": {
    "OAUTH2_0": []
  },
  "SourceConvertkitOAuth20": {},
  "Convertkit": {
    "CONVERTKIT": []
  },
  "SourceConvertkit": {},
  "AuthenticationType": [],
  "OrganizationsResponse": {},
  "NotionCredentials": {},
  "Notion": {},
  "GoogleCalendar": {
    "GOOGLE_CALENDAR": []
  },
  "SourceGoogleCalendar": {},
  "FileFormat": {
    "CSV": [],
    "JSON": [],
    "JSONL": [],
    "EXCEL": [],
    "EXCEL_BINARY": [],
    "FWF": [],
    "FEATHER": [],
    "PARQUET": [],
    "YAML": []
  },
  "SourceFileSchemasProviderStorageProvider8Storage": {
    "LOCAL": []
  },
  "LocalFilesystemLimited": {},
  "SourceFileSchemasProviderStorageProvider7Storage": {
    "SFTP": []
  },
  "SFTPSecureFileTransferProtocol": {},
  "SourceFileSchemasProviderStorageProvider6Storage": {
    "SCP": []
  },
  "SCPSecureCopyProtocol": {},
  "SourceFileSchemasProviderStorageProviderStorage": {
    "SSH": []
  },
  "SSHSecureShell": {},
  "SourceFileSchemasProviderStorage": {
    "AZ_BLOB": []
  },
  "AzBlobAzureBlobStorage": {},
  "SourceFileSchemasStorage": {
    "S3": []
  },
  "S3AmazonWebServices": {},
  "SourceFileStorage": {
    "GCS": []
  },
  "GCSGoogleCloudStorage": {},
  "Storage": {
    "HTTPS": []
  },
  "HTTPSPublicWeb": {},
  "File": {
    "FILE": []
  },
  "SourceFile": {},
  "StorageProvider": [],
  "DestinationsResponse": {},
  "Faker": {
    "FAKER": []
  },
  "SourceFaker": {},
  "NewsdataIo": {
    "NEWSDATA_IO": []
  },
  "SourceNewsdataIo": {},
  "Dockerhub": {
    "DOCKERHUB": []
  },
  "SourceDockerhub": {},
  "SourceTrustpilotSchemasAuthType": {
    "APIKEY": []
  },
  "SourceTrustpilotAPIKey": {},
  "SourceTrustpilotAuthType": {
    "OAUTH2_0": []
  },
  "SourceTrustpilotOAuth20": {},
  "Trustpilot": {
    "TRUSTPILOT": []
  },
  "SourceTrustpilot": {},
  "SourceTrustpilotAuthorizationMethod": [],
  "YoutubeData": {
    "YOUTUBE_DATA": []
  },
  "SourceYoutubeData": {},
  "SourceClickhouseClickhouse": {
    "CLICKHOUSE": []
  },
  "SourceClickhouseSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceClickhousePasswordAuthentication": {},
  "SourceClickhouseSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "SourceClickhouseSSHKeyAuthentication": {},
  "SourceClickhouseTunnelMethod": {
    "NO_TUNNEL": []
  },
  "SourceClickhouseNoTunnel": {},
  "SourceClickhouse": {},
  "SourceClickhouseSSHTunnelMethod": [],
  "Gitbook": {
    "GITBOOK": []
  },
  "SourceGitbook": {},
  "PermissionResponse": {},
  "Category": {
    "BUSINESS": [],
    "ENTERTAINMENT": [],
    "GENERAL": [],
    "HEALTH": [],
    "SCIENCE": [],
    "SPORTS": [],
    "TECHNOLOGY": []
  },
  "Country": {
    "AE": [],
    "AR": [],
    "AT": [],
    "AU": [],
    "BE": [],
    "BG": [],
    "BR": [],
    "CA": [],
    "CH": [],
    "CN": [],
    "CO": [],
    "CU": [],
    "CZ": [],
    "DE": [],
    "EG": [],
    "FR": [],
    "GB": [],
    "GR": [],
    "HK": [],
    "HU": [],
    "ID": [],
    "IE": [],
    "IL": [],
    "IN": [],
    "IT": [],
    "JP": [],
    "KR": [],
    "LT": [],
    "LV": [],
    "MA": [],
    "MX": [],
    "MY": [],
    "NG": [],
    "NL": [],
    "NO": [],
    "NZ": [],
    "PH": [],
    "PL": [],
    "PT": [],
    "RO": [],
    "RS": [],
    "RU": [],
    "SA": [],
    "SE": [],
    "SG": [],
    "SI": [],
    "SK": [],
    "TH": [],
    "TR": [],
    "TW": [],
    "UA": [],
    "US": [],
    "VE": [],
    "ZA": []
  },
  "Language": {
    "AR": [],
    "DE": [],
    "EN": [],
    "ES": [],
    "FR": [],
    "HE": [],
    "IT": [],
    "NL": [],
    "NO": [],
    "PT": [],
    "RU": [],
    "SE": [],
    "UD": [],
    "ZH": []
  },
  "SearchIn": {
    "TITLE": [],
    "DESCRIPTION": [],
    "CONTENT": []
  },
  "SortBy": {
    "RELEVANCY": [],
    "POPULARITY": [],
    "PUBLISHED_AT": []
  },
  "NewsAPI": {
    "NEWS_API": []
  },
  "SourceNewsAPI": {},
  "SourceMixpanelSchemasOptionTitle": {
    "PROJECT_SECRET": []
  },
  "ProjectSecret": {},
  "SourceMixpanelOptionTitle": {
    "SERVICE_ACCOUNT": []
  },
  "ServiceAccount": {},
  "SourceMixpanelRegion": {
    "US": [],
    "EU": []
  },
  "Mixpanel": {
    "MIXPANEL": []
  },
  "SourceMixpanel": {},
  "AuthenticationWildcard": [],
  "Formbricks": {
    "FORMBRICKS": []
  },
  "SourceFormbricks": {},
  "Twilio": {
    "TWILIO": []
  },
  "SourceTwilio": {},
  "NotificationConfig": {},
  "DestinationAzureBlobStorageAzureBlobStorage": {
    "AZURE_BLOB_STORAGE": []
  },
  "DestinationAzureBlobStorageFlattening": {
    "NO_FLATTENING": [],
    "ROOT_LEVEL_FLATTENING": []
  },
  "DestinationAzureBlobStorageFormatType": {
    "JSONL": []
  },
  "DestinationAzureBlobStorageJSONLinesNewlineDelimitedJSON": {},
  "Flattening": {
    "NO_FLATTENING": [],
    "ROOT_LEVEL_FLATTENING": []
  },
  "FormatType": {
    "CSV": []
  },
  "CSVCommaSeparatedValues": {},
  "DestinationAzureBlobStorage": {},
  "OutputFormat": [],
  "Flexport": {
    "FLEXPORT": []
  },
  "SourceFlexport": {},
  "Mention": {
    "MENTION": []
  },
  "StatisticsInterval": {
    "P1_D": [],
    "P1_W": [],
    "P1_M": []
  },
  "SourceMention": {},
  "OrganizationResponse": {},
  "SourceGoogleSearchConsoleSchemasAuthType": {
    "SERVICE": []
  },
  "SourceGoogleSearchConsoleServiceAccountKeyAuthentication": {},
  "SourceGoogleSearchConsoleAuthType": {
    "CLIENT": []
  },
  "SourceGoogleSearchConsoleOAuth": {},
  "SourceGoogleSearchConsoleValidEnums": {
    "COUNTRY": [],
    "DATE": [],
    "DEVICE": [],
    "PAGE": [],
    "QUERY": []
  },
  "SourceGoogleSearchConsoleCustomReportConfig": {},
  "DataFreshness": {
    "FINAL": [],
    "ALL": []
  },
  "SourceGoogleSearchConsoleGoogleSearchConsole": {
    "GOOGLE_SEARCH_CONSOLE": []
  },
  "SourceGoogleSearchConsole": {},
  "SourceGoogleSearchConsoleAuthenticationType": [],
  "Postmarkapp": {
    "POSTMARKAPP": []
  },
  "SourcePostmarkapp": {},
  "UserResponse": {},
  "GitlabCredentials": {},
  "Gitlab": {},
  "NotificationsConfig": {},
  "Klaviyo": {
    "KLAVIYO": []
  },
  "SourceKlaviyo": {},
  "Clockify": {
    "CLOCKIFY": []
  },
  "SourceClockify": {},
  "Appsflyer": {
    "APPSFLYER": []
  },
  "SourceAppsflyer": {},
  "Ubidots": {
    "UBIDOTS": []
  },
  "SourceUbidots": {},
  "Gong": {
    "GONG": []
  },
  "SourceGong": {},
  "Zenloop": {
    "ZENLOOP": []
  },
  "SourceZenloop": {},
  "Omnisend": {
    "OMNISEND": []
  },
  "SourceOmnisend": {},
  "Kyve": {
    "KYVE": []
  },
  "SourceKyve": {},
  "ContentType": {
    "ARTICLE": [],
    "VIDEO": [],
    "IMAGE": []
  },
  "DetailType": {
    "SIMPLE": [],
    "COMPLETE": []
  },
  "SourcePocketSortBy": {
    "NEWEST": [],
    "OLDEST": [],
    "TITLE": [],
    "SITE": []
  },
  "Pocket": {
    "POCKET": []
  },
  "State": {
    "UNREAD": [],
    "ARCHIVE": [],
    "ALL": []
  },
  "SourcePocket": {},
  "Couchbase": {
    "COUCHBASE": []
  },
  "SourceCouchbase": {},
  "Confluence": {
    "CONFLUENCE": []
  },
  "SourceConfluence": {},
  "Nexiopay": {
    "NEXIOPAY": []
  },
  "Subdomain": {
    "NEXIOPAYSANDBOX": [],
    "NEXIOPAY": []
  },
  "SourceNexiopay": {},
  "Yousign": {
    "YOUSIGN": []
  },
  "SourceYousignSubdomain": {
    "API_SANDBOX": [],
    "API": []
  },
  "SourceYousign": {},
  "Firebolt": {
    "FIREBOLT": []
  },
  "DestinationFireboltSchemasMethod": {
    "S3": []
  },
  "ExternalTableViaS3": {},
  "DestinationFireboltMethod": {
    "SQL": []
  },
  "SQLInserts": {},
  "DestinationFirebolt": {},
  "DestinationFireboltLoadingMethod": [],
  "SourceLinkedinPagesSchemasAuthMethod": {
    "ACCESS_TOKEN": []
  },
  "SourceLinkedinPagesAccessToken": {},
  "SourceLinkedinPagesAuthMethod": {
    "O_AUTH2_0": []
  },
  "SourceLinkedinPagesOAuth20": {},
  "LinkedinPages": {
    "LINKEDIN_PAGES": []
  },
  "TimeGranularityType": {
    "DAY": [],
    "MONTH": []
  },
  "SourceLinkedinPages": {},
  "SourceLinkedinPagesAuthentication": [],
  "SourceMysqlInvalidCDCPositionBehaviorAdvanced": {
    "FAIL_SYNC": [],
    "RE_SYNC_DATA": []
  },
  "SourceMysqlSchemasMethod": {
    "CDC": []
  },
  "SourceMysqlReadChangesUsingChangeDataCaptureCDC": {},
  "SourceMysqlMethod": {
    "STANDARD": []
  },
  "SourceMysqlScanChangesWithUserDefinedCursor": {},
  "SourceMysqlMysql": {
    "MYSQL": []
  },
  "SourceMysqlSchemasSslModeEncryptionMode": {
    "VERIFY_IDENTITY": []
  },
  "VerifyIdentity": {},
  "SourceMysqlSchemasSslModeMode": {
    "VERIFY_CA": []
  },
  "SourceMysqlVerifyCa": {},
  "SourceMysqlSchemasMode": {
    "REQUIRED": []
  },
  "Required": {},
  "SourceMysqlMode": {
    "PREFERRED": []
  },
  "Preferred": {},
  "SourceMysqlSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceMysqlPasswordAuthentication": {},
  "SourceMysqlSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "SourceMysqlSSHKeyAuthentication": {},
  "SourceMysqlTunnelMethod": {
    "NO_TUNNEL": []
  },
  "SourceMysqlNoTunnel": {},
  "SourceMysql": {},
  "SourceMysqlUpdateMethod": [],
  "SourceMysqlEncryption": [],
  "SourceMysqlSSHTunnelMethod": [],
  "Veeqo": {
    "VEEQO": []
  },
  "SourceVeeqo": {},
  "PlaidEnvironment": {
    "SANDBOX": [],
    "DEVELOPMENT": [],
    "PRODUCTION": []
  },
  "Plaid": {
    "PLAID": []
  },
  "SourcePlaid": {},
  "SourceHarvestSchemasAuthType": {
    "TOKEN": []
  },
  "SourceHarvestAuthenticateWithPersonalAccessToken": {},
  "SourceHarvestAuthType": {
    "CLIENT": []
  },
  "AuthenticateViaHarvestOAuth": {},
  "Harvest": {
    "HARVEST": []
  },
  "SourceHarvest": {},
  "SourceHarvestAuthenticationMechanism": [],
  "Clazar": {
    "CLAZAR": []
  },
  "SourceClazar": {},
  "SonarCloud": {
    "SONAR_CLOUD": []
  },
  "SourceSonarCloud": {},
  "Filter": {
    "TOUR": [],
    "SURVEY": [],
    "LAUNCHER": []
  },
  "Chameleon": {
    "CHAMELEON": []
  },
  "SourceChameleon": {},
  "Guru": {
    "GURU": []
  },
  "SourceGuru": {},
  "TagCreateRequest": {},
  "YoutubeAnalyticsCredentials": {},
  "YoutubeAnalytics": {},
  "Prestashop": {
    "PRESTASHOP": []
  },
  "SourcePrestashop": {},
  "SnowflakeCortex": {
    "SNOWFLAKE_CORTEX": []
  },
  "DestinationSnowflakeCortexSchemasEmbeddingEmbedding5Mode": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationSnowflakeCortexOpenAICompatible": {},
  "DestinationSnowflakeCortexSchemasEmbeddingEmbeddingMode": {
    "AZURE_OPENAI": []
  },
  "DestinationSnowflakeCortexAzureOpenAI": {},
  "DestinationSnowflakeCortexSchemasEmbeddingMode": {
    "FAKE": []
  },
  "DestinationSnowflakeCortexFake": {},
  "DestinationSnowflakeCortexSchemasMode": {
    "COHERE": []
  },
  "DestinationSnowflakeCortexCohere": {},
  "DestinationSnowflakeCortexMode": {
    "OPENAI": []
  },
  "DestinationSnowflakeCortexOpenAI": {},
  "DestinationSnowflakeCortexCredentials": {},
  "SnowflakeConnection": {},
  "DestinationSnowflakeCortexFieldNameMappingConfigModel": {},
  "DestinationSnowflakeCortexLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationSnowflakeCortexSchemasProcessingTextSplitterTextSplitterMode": {
    "CODE": []
  },
  "DestinationSnowflakeCortexByProgrammingLanguage": {},
  "DestinationSnowflakeCortexSchemasProcessingTextSplitterMode": {
    "MARKDOWN": []
  },
  "DestinationSnowflakeCortexByMarkdownHeader": {},
  "DestinationSnowflakeCortexSchemasProcessingMode": {
    "SEPARATOR": []
  },
  "DestinationSnowflakeCortexBySeparator": {},
  "DestinationSnowflakeCortexProcessingConfigModel": {},
  "DestinationSnowflakeCortex": {},
  "DestinationSnowflakeCortexEmbedding": [],
  "DestinationSnowflakeCortexTextSplitter": [],
  "Vwo": {
    "VWO": []
  },
  "SourceVwo": {},
  "WorkspacesResponse": {},
  "WorkspaceUpdateRequest": {},
  "SourceZendeskChatSchemasCredentials": {
    "ACCESS_TOKEN": []
  },
  "SourceZendeskChatAccessToken": {},
  "SourceZendeskChatCredentials": {
    "OAUTH2_0": []
  },
  "SourceZendeskChatOAuth20": {},
  "ZendeskChat": {
    "ZENDESK_CHAT": []
  },
  "SourceZendeskChat": {},
  "SourceZendeskChatAuthorizationMethod": [],
  "Paperform": {
    "PAPERFORM": []
  },
  "SourcePaperform": {},
  "DestinationPatchRequest": {},
  "Ashby": {
    "ASHBY": []
  },
  "SourceAshby": {},
  "SourceGoogleSheetsSchemasAuthType": {
    "SERVICE": []
  },
  "SourceGoogleSheetsServiceAccountKeyAuthentication": {},
  "SourceGoogleSheetsAuthType": {
    "CLIENT": []
  },
  "SourceGoogleSheetsAuthenticateViaGoogleOAuth": {},
  "SourceGoogleSheetsGoogleSheets": {
    "GOOGLE_SHEETS": []
  },
  "StreamNameOverrides": {},
  "SourceGoogleSheets": {},
  "SourceGoogleSheetsAuthentication": [],
  "Svix": {
    "SVIX": []
  },
  "SourceSvix": {},
  "GoogleAdsCredentials": {},
  "GoogleAds": {},
  "Height": {
    "HEIGHT": []
  },
  "SourceHeight": {},
  "Waiteraid": {
    "WAITERAID": []
  },
  "SourceWaiteraid": {},
  "Bugsnag": {
    "BUGSNAG": []
  },
  "SourceBugsnag": {},
  "SourceCartSchemasAuthType": {
    "SINGLE_STORE_ACCESS_TOKEN": []
  },
  "SingleStoreAccessToken": {},
  "SourceCartAuthType": {
    "CENTRAL_API_ROUTER": []
  },
  "CentralAPIRouter": {},
  "Cart": {
    "CART": []
  },
  "SourceCart": {},
  "SourceCartAuthorizationMethod": [],
  "Hibob": {
    "HIBOB": []
  },
  "SourceHibob": {},
  "PermissionResponseRead": {},
  "Secoda": {
    "SECODA": []
  },
  "SourceSecoda": {},
  "SourceTiktokMarketingSchemasAuthType": {
    "SANDBOX_ACCESS_TOKEN": []
  },
  "SandboxAccessToken": {},
  "SourceTiktokMarketingAuthType": {
    "OAUTH2_0": []
  },
  "SourceTiktokMarketingOAuth20": {},
  "SourceTiktokMarketingTiktokMarketing": {
    "TIKTOK_MARKETING": []
  },
  "SourceTiktokMarketing": {},
  "SourceTiktokMarketingAuthenticationMethod": [],
  "Onepagecrm": {
    "ONEPAGECRM": []
  },
  "SourceOnepagecrm": {},
  "Giphy": {
    "GIPHY": []
  },
  "SourceGiphy": {},
  "Jira": {
    "JIRA": []
  },
  "SourceJira": {},
  "SourceGithubOptionTitle": {
    "PAT_CREDENTIALS": []
  },
  "SourceGithubPersonalAccessToken": {},
  "OptionTitle": {
    "O_AUTH_CREDENTIALS": []
  },
  "SourceGithubOAuth": {},
  "SourceGithubGithub": {
    "GITHUB": []
  },
  "SourceGithub": {},
  "SourceGithubAuthentication": [],
  "Navan": {
    "NAVAN": []
  },
  "SourceNavan": {},
  "Motherduck": {
    "MOTHERDUCK": []
  },
  "DestinationMotherduck": {},
  "Ticketmaster": {
    "TICKETMASTER": []
  },
  "SourceTicketmaster": {},
  "Firestore": {
    "FIRESTORE": []
  },
  "DestinationFirestore": {},
  "TwilioTaskrouter": {
    "TWILIO_TASKROUTER": []
  },
  "SourceTwilioTaskrouter": {},
  "StreamProperties": {},
  "Launchdarkly": {
    "LAUNCHDARKLY": []
  },
  "SourceLaunchdarkly": {},
  "SourceMondaySchemasAuthType": {
    "API_TOKEN": []
  },
  "APIToken": {},
  "SourceMondayAuthType": {
    "OAUTH2_0": []
  },
  "SourceMondayOAuth20": {},
  "SourceMondayMonday": {
    "MONDAY": []
  },
  "SourceMonday": {},
  "SourceMondayAuthorizationMethod": [],
  "CacheType": {
    "HASH": []
  },
  "Redis": {
    "REDIS": []
  },
  "DestinationRedisSchemasMode": {
    "VERIFY_FULL": []
  },
  "DestinationRedisVerifyFull": {},
  "DestinationRedisMode": {
    "DISABLE": []
  },
  "DestinationRedisDisable": {},
  "DestinationRedisSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationRedisPasswordAuthentication": {},
  "DestinationRedisSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "DestinationRedisSSHKeyAuthentication": {},
  "DestinationRedisTunnelMethod": {
    "NO_TUNNEL": []
  },
  "DestinationRedisNoTunnel": {},
  "DestinationRedis": {},
  "DestinationRedisSSLModes": [],
  "DestinationRedisSSHTunnelMethod": [],
  "SnapchatMarketing": {},
  "SourceTypeformSchemasAuthType": {
    "ACCESS_TOKEN": []
  },
  "SourceTypeformPrivateToken": {},
  "SourceTypeformAuthType": {
    "OAUTH2_0": []
  },
  "SourceTypeformOAuth20": {},
  "SourceTypeformTypeform": {
    "TYPEFORM": []
  },
  "SourceTypeform": {},
  "SourceTypeformAuthorizationMethod": [],
  "Ruddr": {
    "RUDDR": []
  },
  "SourceRuddr": {},
  "Entity": {
    "PARTIES": [],
    "OPPORTUNITIES": [],
    "KASES": []
  },
  "CapsuleCrm": {
    "CAPSULE_CRM": []
  },
  "SourceCapsuleCrm": {},
  "Cloudbeds": {
    "CLOUDBEDS": []
  },
  "SourceCloudbeds": {},
  "Looker": {
    "LOOKER": []
  },
  "SourceLooker": {},
  "Agilecrm": {
    "AGILECRM": []
  },
  "SourceAgilecrm": {},
  "AwinAdvertiser": {
    "AWIN_ADVERTISER": []
  },
  "SourceAwinAdvertiser": {},
  "SourceNotionSchemasAuthType": {
    "TOKEN": []
  },
  "SourceNotionAccessToken": {},
  "SourceNotionAuthType": {
    "O_AUTH2_0": []
  },
  "SourceNotionOAuth20": {},
  "SourceNotionNotion": {
    "NOTION": []
  },
  "SourceNotion": {},
  "SourceNotionAuthenticationMethod": [],
  "ActorTypeEnum": {
    "SOURCE": [],
    "DESTINATION": []
  },
  "InitiateOauthRequest": {},
  "WorkspaceResponse": {},
  "SourcePaddleEnvironment": {
    "API": [],
    "SANDBOX_API": []
  },
  "Paddle": {
    "PADDLE": []
  },
  "SourcePaddle": {},
  "Pgvector": {
    "PGVECTOR": []
  },
  "DestinationPgvectorSchemasEmbeddingEmbedding5Mode": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationPgvectorOpenAICompatible": {},
  "DestinationPgvectorSchemasEmbeddingEmbeddingMode": {
    "AZURE_OPENAI": []
  },
  "DestinationPgvectorAzureOpenAI": {},
  "DestinationPgvectorSchemasEmbeddingMode": {
    "FAKE": []
  },
  "DestinationPgvectorFake": {},
  "DestinationPgvectorSchemasMode": {
    "COHERE": []
  },
  "DestinationPgvectorCohere": {},
  "DestinationPgvectorMode": {
    "OPENAI": []
  },
  "DestinationPgvectorOpenAI": {},
  "DestinationPgvectorCredentials": {},
  "PostgresConnection": {},
  "DestinationPgvectorFieldNameMappingConfigModel": {},
  "DestinationPgvectorLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationPgvectorSchemasProcessingTextSplitterTextSplitterMode": {
    "CODE": []
  },
  "DestinationPgvectorByProgrammingLanguage": {},
  "DestinationPgvectorSchemasProcessingTextSplitterMode": {
    "MARKDOWN": []
  },
  "DestinationPgvectorByMarkdownHeader": {},
  "DestinationPgvectorSchemasProcessingMode": {
    "SEPARATOR": []
  },
  "DestinationPgvectorBySeparator": {},
  "DestinationPgvectorProcessingConfigModel": {},
  "DestinationPgvector": {},
  "DestinationPgvectorEmbedding": [],
  "DestinationPgvectorTextSplitter": [],
  "Intercom": {
    "INTERCOM": []
  },
  "SourceIntercom": {},
  "SourceZohoBillingRegion": {
    "COM": [],
    "EU": [],
    "IN": [],
    "COM_CN": [],
    "COM_AU": [],
    "JP": [],
    "SA": [],
    "CA": []
  },
  "ZohoBilling": {
    "ZOHO_BILLING": []
  },
  "SourceZohoBilling": {},
  "MyHours": {
    "MY_HOURS": []
  },
  "SourceMyHours": {},
  "StreamMapperType": {
    "HASHING": [],
    "FIELD_RENAMING": [],
    "ROW_FILTERING": [],
    "ENCRYPTION": []
  },
  "DingConnect": {
    "DING_CONNECT": []
  },
  "SourceDingConnect": {},
  "Watchmode": {
    "WATCHMODE": []
  },
  "SourceWatchmode": {},
  "CiscoMeraki": {
    "CISCO_MERAKI": []
  },
  "SourceCiscoMeraki": {},
  "DestinationMongodbAuthorization": {
    "LOGIN_PASSWORD": []
  },
  "LoginPassword": {},
  "DestinationMongodbSchemasAuthorization": {
    "NONE": []
  },
  "DestinationMongodbNone": {},
  "Mongodb": {
    "MONGODB": []
  },
  "DestinationMongodbSchemasInstance": {
    "ATLAS": []
  },
  "MongoDBAtlas": {},
  "DestinationMongodbInstance": {
    "REPLICA": []
  },
  "ReplicaSet": {},
  "Instance": {
    "STANDALONE": []
  },
  "StandaloneMongoDbInstance": {},
  "DestinationMongodbSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationMongodbPasswordAuthentication": {},
  "DestinationMongodbSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "DestinationMongodbSSHKeyAuthentication": {},
  "DestinationMongodbTunnelMethod": {
    "NO_TUNNEL": []
  },
  "DestinationMongodbNoTunnel": {},
  "DestinationMongodb": {},
  "AuthorizationType": [],
  "MongoDbInstanceType": [],
  "DestinationMongodbSSHTunnelMethod": [],
  "Dynamodb": {
    "DYNAMODB": []
  },
  "DynamoDBRegion": {
    "UNKNOWN": [],
    "AF_SOUTH_1": [],
    "AP_EAST_1": [],
    "AP_NORTHEAST_1": [],
    "AP_NORTHEAST_2": [],
    "AP_NORTHEAST_3": [],
    "AP_SOUTH_1": [],
    "AP_SOUTH_2": [],
    "AP_SOUTHEAST_1": [],
    "AP_SOUTHEAST_2": [],
    "AP_SOUTHEAST_3": [],
    "AP_SOUTHEAST_4": [],
    "CA_CENTRAL_1": [],
    "CA_WEST_1": [],
    "CN_NORTH_1": [],
    "CN_NORTHWEST_1": [],
    "EU_CENTRAL_1": [],
    "EU_CENTRAL_2": [],
    "EU_NORTH_1": [],
    "EU_SOUTH_1": [],
    "EU_SOUTH_2": [],
    "EU_WEST_1": [],
    "EU_WEST_2": [],
    "EU_WEST_3": [],
    "IL_CENTRAL_1": [],
    "ME_CENTRAL_1": [],
    "ME_SOUTH_1": [],
    "SA_EAST_1": [],
    "US_EAST_1": [],
    "US_EAST_2": [],
    "US_GOV_EAST_1": [],
    "US_GOV_WEST_1": [],
    "US_WEST_1": [],
    "US_WEST_2": []
  },
  "DestinationDynamodb": {},
  "Surrealdb": {
    "SURREALDB": []
  },
  "DestinationSurrealdb": {},
  "Rss": {
    "RSS": []
  },
  "SourceRss": {},
  "LightspeedRetail": {
    "LIGHTSPEED_RETAIL": []
  },
  "SourceLightspeedRetail": {},
  "Scryfall": {
    "SCRYFALL": []
  },
  "SourceScryfall": {},
  "DevNull": {
    "DEV_NULL": []
  },
  "DestinationDevNullSchemasTestDestinationTestDestinationType": {
    "FAILING": []
  },
  "Failing": {},
  "DestinationDevNullSchemasTestDestinationType": {
    "THROTTLED": []
  },
  "Throttled": {},
  "DestinationDevNullTestDestinationType": {
    "SILENT": []
  },
  "Silent": {},
  "DestinationDevNullSchemasLoggingType": {
    "RANDOM_SAMPLING": []
  },
  "RandomSampling": {},
  "DestinationDevNullLoggingType": {
    "EVERY_NTH": []
  },
  "EveryNThEntry": {},
  "LoggingType": {
    "FIRST_N": []
  },
  "FirstNEntries": {},
  "TestDestinationType": {
    "LOGGING": []
  },
  "Logging": {},
  "DestinationDevNull": {},
  "LoggingConfiguration": [],
  "TestDestination": [],
  "Beamer": {
    "BEAMER": []
  },
  "SourceBeamer": {},
  "OAuthActorNames": {
    "AIRTABLE": [],
    "AMAZON_ADS": [],
    "AMAZON_SELLER_PARTNER": [],
    "ASANA": [],
    "AZURE_BLOB_STORAGE": [],
    "BING_ADS": [],
    "DRIFT": [],
    "FACEBOOK_MARKETING": [],
    "FACEBOOK_PAGES": [],
    "GCS": [],
    "GITHUB": [],
    "GITLAB": [],
    "GOOGLE_ADS": [],
    "GOOGLE_ANALYTICS_DATA_API": [],
    "GOOGLE_DRIVE": [],
    "GOOGLE_SEARCH_CONSOLE": [],
    "GOOGLE_SHEETS": [],
    "HUBSPOT": [],
    "INSTAGRAM": [],
    "INTERCOM": [],
    "LEVER_HIRING": [],
    "LINKEDIN_ADS": [],
    "MAILCHIMP": [],
    "MICROSOFT_ONEDRIVE": [],
    "MICROSOFT_SHAREPOINT": [],
    "MICROSOFT_TEAMS": [],
    "MONDAY": [],
    "NOTION": [],
    "PINTEREST": [],
    "RD_STATION_MARKETING": [],
    "SALESFORCE": [],
    "SHAREPOINT_ENTERPRISE": [],
    "SLACK": [],
    "SMARTSHEETS": [],
    "SNAPCHAT_MARKETING": [],
    "SURVEYMONKEY": [],
    "TIKTOK_MARKETING": [],
    "TRELLO": [],
    "TYPEFORM": [],
    "YOUTUBE_ANALYTICS": [],
    "ZENDESK_SUPPORT": [],
    "ZENDESK_TALK": []
  },
  "ClickupAPI": {
    "CLICKUP_API": []
  },
  "SourceClickupAPI": {},
  "Deepset": {
    "DEEPSET": []
  },
  "DestinationDeepset": {},
  "Callrail": {
    "CALLRAIL": []
  },
  "SourceCallrail": {},
  "JobStatusEnum": {
    "PENDING": [],
    "RUNNING": [],
    "INCOMPLETE": [],
    "FAILED": [],
    "SUCCEEDED": [],
    "CANCELLED": []
  },
  "Blogger": {
    "BLOGGER": []
  },
  "SourceBlogger": {},
  "MondayCredentials": {},
  "Monday": {},
  "ScheduleTypeEnum": {
    "MANUAL": [],
    "CRON": []
  },
  "DeclarativeSourceDefinitionsResponse": {},
  "SpacexAPI": {
    "SPACEX_API": []
  },
  "SourceSpacexAPI": {},
  "Huntr": {
    "HUNTR": []
  },
  "SourceHuntr": {},
  "Coassemble": {
    "COASSEMBLE": []
  },
  "SourceCoassemble": {},
  "SourceNetsuiteEnterpriseSchemasAuthenticationMethodAuthenticationMethod": {
    "OAUTH2_AUTHENTICATION": []
  },
  "OAuth2Authentication": {},
  "SourceNetsuiteEnterpriseSchemasAuthenticationMethod": {
    "TOKEN_BASED_AUTHENTICATION": []
  },
  "TokenBasedAuthentication": {},
  "SourceNetsuiteEnterpriseSchemasAuthenticationMethodAuthenticationMethodAuthenticationMethod": {
    "PASSWORD_AUTHENTICATION": []
  },
  "SourceNetsuiteEnterprisePasswordAuthentication": {},
  "CursorMethod": {
    "USER_DEFINED": []
  },
  "SourceNetsuiteEnterpriseScanChangesWithUserDefinedCursor": {},
  "NetsuiteEnterprise": {
    "NETSUITE_ENTERPRISE": []
  },
  "SourceNetsuiteEnterpriseSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceNetsuiteEnterpriseSchemasPasswordAuthentication": {},
  "SourceNetsuiteEnterpriseSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "SourceNetsuiteEnterpriseSSHKeyAuthentication": {},
  "SourceNetsuiteEnterpriseTunnelMethod": {
    "NO_TUNNEL": []
  },
  "SourceNetsuiteEnterpriseNoTunnel": {},
  "SourceNetsuiteEnterprise": {},
  "SourceNetsuiteEnterpriseAuthenticationMethod": [],
  "SourceNetsuiteEnterpriseUpdateMethod": [],
  "SourceNetsuiteEnterpriseSSHTunnelMethod": [],
  "Tavus": {
    "TAVUS": []
  },
  "SourceTavus": {},
  "MicrosoftOnedriveCredentials": {},
  "MicrosoftOnedrive": {},
  "SurveymonkeyCredentials": {},
  "Surveymonkey": {},
  "Referralhero": {
    "REFERRALHERO": []
  },
  "SourceReferralhero": {},
  "ActionReportTime": {
    "CONVERSION": [],
    "IMPRESSION": []
  },
  "SourceSnapchatMarketingSnapchatMarketing": {
    "SNAPCHAT_MARKETING": []
  },
  "SwipeUpAttributionWindow": {
    "ONE_DAY": [],
    "SEVEN_DAY": [],
    "TWENTY_EIGHT_DAY": []
  },
  "ViewAttributionWindow": {
    "ONE_HOUR": [],
    "THREE_HOUR": [],
    "SIX_HOUR": [],
    "ONE_DAY": [],
    "SEVEN_DAY": []
  },
  "SourceSnapchatMarketing": {},
  "SourceJotformAPIEndpoint": {
    "ENTERPRISE": []
  },
  "Enterprise": {},
  "SourceJotformSchemasAPIEndpoint": {
    "BASIC": []
  },
  "BaseURLPrefix": {
    "STANDARD": [],
    "EU": [],
    "HIPAA": []
  },
  "Basic": {},
  "Jotform": {
    "JOTFORM": []
  },
  "SourceJotform": {},
  "APIEndpoint": [],
  "MailjetMail": {
    "MAILJET_MAIL": []
  },
  "SourceMailjetMail": {},
  "Everhour": {
    "EVERHOUR": []
  },
  "SourceEverhour": {},
  "SourceZendeskSupportSchemasCredentials": {
    "API_TOKEN": []
  },
  "SourceZendeskSupportAPIToken": {},
  "SourceZendeskSupportCredentials": {
    "OAUTH2_0": []
  },
  "SourceZendeskSupportOAuth20": {},
  "SourceZendeskSupportZendeskSupport": {
    "ZENDESK_SUPPORT": []
  },
  "SourceZendeskSupport": {},
  "SourceZendeskSupportAuthentication": [],
  "OpenDataDc": {
    "OPEN_DATA_DC": []
  },
  "SourceOpenDataDc": {},
  "SourceCreateRequest": {},
  "JamfPro": {
    "JAMF_PRO": []
  },
  "SourceJamfPro": {},
  "CareQualityCommission": {
    "CARE_QUALITY_COMMISSION": []
  },
  "SourceCareQualityCommission": {},
  "Churnkey": {
    "CHURNKEY": []
  },
  "SourceChurnkey": {},
  "Leadfeeder": {
    "LEADFEEDER": []
  },
  "SourceLeadfeeder": {},
  "Rocketlane": {
    "ROCKETLANE": []
  },
  "SourceRocketlane": {},
  "ShopifyCredentials": {},
  "Shopify": {},
  "AzureTable": {
    "AZURE_TABLE": []
  },
  "SourceAzureTable": {},
  "SourceMongodbV2ClusterType": {
    "SELF_MANAGED_REPLICA_SET": []
  },
  "SelfManagedReplicaSet": {},
  "SourceMongodbV2SchemasClusterType": {
    "ATLAS_REPLICA_SET": []
  },
  "MongoDBAtlasReplicaSet": {},
  "InvalidCDCPositionBehaviorAdvanced": {
    "FAIL_SYNC": [],
    "RE_SYNC_DATA": []
  },
  "MongodbV2": {
    "MONGODB_V2": []
  },
  "CaptureModeAdvanced": {
    "LOOKUP": [],
    "POST_IMAGE": []
  },
  "SourceMongodbV2": {},
  "ClusterType": [],
  "Testrail": {
    "TESTRAIL": []
  },
  "SourceTestrail": {},
  "Not": {},
  "Equal": {},
  "RowFilteringOperation": [],
  "ApifyDataset": {
    "APIFY_DATASET": []
  },
  "SourceApifyDataset": {},
  "Luma": {
    "LUMA": []
  },
  "SourceLuma": {},
  "Picqer": {
    "PICQER": []
  },
  "SourcePicqer": {},
  "FinancialModelling": {
    "FINANCIAL_MODELLING": []
  },
  "TimeFrame": {
    "ONEMIN": [],
    "FIVEMIN": [],
    "FIFTEENMIN": [],
    "THIRTYMIN": [],
    "ONEHOUR": [],
    "FOURHOUR": []
  },
  "SourceFinancialModelling": {},
  "Chargify": {
    "CHARGIFY": []
  },
  "SourceChargify": {},
  "TiktokMarketingCredentials": {},
  "TiktokMarketing": {},
  "SourceNewsdataCategory": {
    "BUSINESS": [],
    "ENTERTAINMENT": [],
    "ENVIRONMENT": [],
    "FOOD": [],
    "HEALTH": [],
    "POLITICS": [],
    "SCIENCE": [],
    "SPORTS": [],
    "TECHNOLOGY": [],
    "TOP": [],
    "WORLD": []
  },
  "SourceNewsdataCountry": {
    "AR": [],
    "AU": [],
    "AT": [],
    "BD": [],
    "BY": [],
    "BE": [],
    "BR": [],
    "BG": [],
    "CA": [],
    "CL": [],
    "CN": [],
    "CO": [],
    "CR": [],
    "CU": [],
    "CZ": [],
    "DK": [],
    "DO": [],
    "EC": [],
    "EG": [],
    "EE": [],
    "ET": [],
    "FI": [],
    "FR": [],
    "DE": [],
    "GR": [],
    "HK": [],
    "HU": [],
    "IN": [],
    "ID": [],
    "IQ": [],
    "IE": [],
    "IL": [],
    "IT": [],
    "JP": [],
    "KZ": [],
    "KW": [],
    "LV": [],
    "LB": [],
    "LT": [],
    "MY": [],
    "MX": [],
    "MA": [],
    "MM": [],
    "NL": [],
    "NZ": [],
    "NG": [],
    "KP": [],
    "NO": [],
    "PK": [],
    "PE": [],
    "PH": [],
    "PL": [],
    "PT": [],
    "PR": [],
    "RO": [],
    "RU": [],
    "SA": [],
    "RS": [],
    "SG": [],
    "SK": [],
    "SI": [],
    "ZA": [],
    "KR": [],
    "ES": [],
    "SE": [],
    "CH": [],
    "TW": [],
    "TZ": [],
    "TH": [],
    "TR": [],
    "UA": [],
    "AE": [],
    "GB": [],
    "US": [],
    "VE": [],
    "VI": []
  },
  "SourceNewsdataLanguage": {
    "BE": [],
    "AM": [],
    "AR": [],
    "BN": [],
    "BS": [],
    "BG": [],
    "MY": [],
    "CKB": [],
    "ZH": [],
    "HR": [],
    "CS": [],
    "DA": [],
    "NL": [],
    "EN": [],
    "ET": [],
    "FI": [],
    "FR": [],
    "DE": [],
    "EL": [],
    "HE": [],
    "HI": [],
    "HU": [],
    "IN": [],
    "IT": [],
    "JP": [],
    "KO": [],
    "LV": [],
    "LT": [],
    "MS": [],
    "NO": [],
    "PL": [],
    "PT": [],
    "RO": [],
    "RU": [],
    "SR": [],
    "SK": [],
    "SL": [],
    "ES": [],
    "SW": [],
    "SV": [],
    "TH": [],
    "TR": [],
    "UK": [],
    "UR": [],
    "VI": []
  },
  "Newsdata": {
    "NEWSDATA": []
  },
  "SourceNewsdata": {},
  "ServiceDetails": {
    "ESCALATION_POLICIES": [],
    "TEAMS": [],
    "INTEGRATIONS": [],
    "AUTO_PAUSE_NOTIFICATIONS_PARAMETERS": []
  },
  "Pagerduty": {
    "PAGERDUTY": []
  },
  "SourcePagerduty": {},
  "Eventbrite": {
    "EVENTBRITE": []
  },
  "SourceEventbrite": {},
  "Kisi": {
    "KISI": []
  },
  "SourceKisi": {},
  "SourceTremendousEnvironment": {
    "API": [],
    "TESTFLIGHT": []
  },
  "Tremendous": {
    "TREMENDOUS": []
  },
  "SourceTremendous": {},
  "IlluminaBasespace": {
    "ILLUMINA_BASESPACE": []
  },
  "SourceIlluminaBasespace": {},
  "Dolibarr": {
    "DOLIBARR": []
  },
  "SourceDolibarr": {},
  "CastorEdc": {
    "CASTOR_EDC": []
  },
  "URLRegion": {
    "UK": [],
    "NL": [],
    "US": []
  },
  "SourceCastorEdc": {},
  "SourcePinterestAuthMethod": {
    "OAUTH2_0": []
  },
  "OAuth20": {},
  "SourcePinterestValidEnums": {
    "INDIVIDUAL": [],
    "HOUSEHOLD": []
  },
  "ClickWindowDays": {
    "ZERO": [],
    "ONE": [],
    "SEVEN": [],
    "FOURTEEN": [],
    "THIRTY": [],
    "SIXTY": []
  },
  "SourcePinterestSchemasValidEnums": {
    "ADVERTISER_ID": [],
    "AD_ACCOUNT_ID": [],
    "AD_GROUP_ENTITY_STATUS": [],
    "AD_GROUP_ID": [],
    "AD_ID": [],
    "CAMPAIGN_DAILY_SPEND_CAP": [],
    "CAMPAIGN_ENTITY_STATUS": [],
    "CAMPAIGN_ID": [],
    "CAMPAIGN_LIFETIME_SPEND_CAP": [],
    "CAMPAIGN_NAME": [],
    "CHECKOUT_ROAS": [],
    "CLICKTHROUGH_1": [],
    "CLICKTHROUGH_1_GROSS": [],
    "CLICKTHROUGH_2": [],
    "CPC_IN_MICRO_DOLLAR": [],
    "CPM_IN_DOLLAR": [],
    "CPM_IN_MICRO_DOLLAR": [],
    "CTR": [],
    "CTR_2": [],
    "ECPCV_IN_DOLLAR": [],
    "ECPCV_P95_IN_DOLLAR": [],
    "ECPC_IN_DOLLAR": [],
    "ECPC_IN_MICRO_DOLLAR": [],
    "ECPE_IN_DOLLAR": [],
    "ECPM_IN_MICRO_DOLLAR": [],
    "ECPV_IN_DOLLAR": [],
    "ECTR": [],
    "EENGAGEMENT_RATE": [],
    "ENGAGEMENT_1": [],
    "ENGAGEMENT_2": [],
    "ENGAGEMENT_RATE": [],
    "IDEA_PIN_PRODUCT_TAG_VISIT_1": [],
    "IDEA_PIN_PRODUCT_TAG_VISIT_2": [],
    "IMPRESSION_1": [],
    "IMPRESSION_1_GROSS": [],
    "IMPRESSION_2": [],
    "INAPP_CHECKOUT_COST_PER_ACTION": [],
    "OUTBOUND_CLICK_1": [],
    "OUTBOUND_CLICK_2": [],
    "PAGE_VISIT_COST_PER_ACTION": [],
    "PAGE_VISIT_ROAS": [],
    "PAID_IMPRESSION": [],
    "PIN_ID": [],
    "PIN_PROMOTION_ID": [],
    "REPIN_1": [],
    "REPIN_2": [],
    "REPIN_RATE": [],
    "SPEND_IN_DOLLAR": [],
    "SPEND_IN_MICRO_DOLLAR": [],
    "TOTAL_CHECKOUT": [],
    "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_CLICKTHROUGH": [],
    "TOTAL_CLICK_ADD_TO_CART": [],
    "TOTAL_CLICK_CHECKOUT": [],
    "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_CLICK_LEAD": [],
    "TOTAL_CLICK_SIGNUP": [],
    "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_CONVERSIONS": [],
    "TOTAL_CUSTOM": [],
    "TOTAL_ENGAGEMENT": [],
    "TOTAL_ENGAGEMENT_CHECKOUT": [],
    "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_ENGAGEMENT_LEAD": [],
    "TOTAL_ENGAGEMENT_SIGNUP": [],
    "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT": [],
    "TOTAL_IMPRESSION_FREQUENCY": [],
    "TOTAL_IMPRESSION_USER": [],
    "TOTAL_LEAD": [],
    "TOTAL_OFFLINE_CHECKOUT": [],
    "TOTAL_PAGE_VISIT": [],
    "TOTAL_REPIN_RATE": [],
    "TOTAL_SIGNUP": [],
    "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_VIDEO_3_SEC_VIEWS": [],
    "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND": [],
    "TOTAL_VIDEO_MRC_VIEWS": [],
    "TOTAL_VIDEO_P0_COMBINED": [],
    "TOTAL_VIDEO_P100_COMPLETE": [],
    "TOTAL_VIDEO_P25_COMBINED": [],
    "TOTAL_VIDEO_P50_COMBINED": [],
    "TOTAL_VIDEO_P75_COMBINED": [],
    "TOTAL_VIDEO_P95_COMBINED": [],
    "TOTAL_VIEW_ADD_TO_CART": [],
    "TOTAL_VIEW_CHECKOUT": [],
    "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_VIEW_LEAD": [],
    "TOTAL_VIEW_SIGNUP": [],
    "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_WEB_CHECKOUT": [],
    "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_WEB_CLICK_CHECKOUT": [],
    "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_WEB_ENGAGEMENT_CHECKOUT": [],
    "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "TOTAL_WEB_SESSIONS": [],
    "TOTAL_WEB_VIEW_CHECKOUT": [],
    "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR": [],
    "VIDEO_3_SEC_VIEWS_2": [],
    "VIDEO_LENGTH": [],
    "VIDEO_MRC_VIEWS_2": [],
    "VIDEO_P0_COMBINED_2": [],
    "VIDEO_P100_COMPLETE_2": [],
    "VIDEO_P25_COMBINED_2": [],
    "VIDEO_P50_COMBINED_2": [],
    "VIDEO_P75_COMBINED_2": [],
    "VIDEO_P95_COMBINED_2": [],
    "WEB_CHECKOUT_COST_PER_ACTION": [],
    "WEB_CHECKOUT_ROAS": [],
    "WEB_SESSIONS_1": [],
    "WEB_SESSIONS_2": []
  },
  "ConversionReportTime": {
    "TIME_OF_AD_ACTION": [],
    "TIME_OF_CONVERSION": []
  },
  "EngagementWindowDays": {
    "ZERO": [],
    "ONE": [],
    "SEVEN": [],
    "FOURTEEN": [],
    "THIRTY": [],
    "SIXTY": []
  },
  "Granularity": {
    "TOTAL": [],
    "DAY": [],
    "HOUR": [],
    "WEEK": [],
    "MONTH": []
  },
  "SourcePinterestLevel": {
    "ADVERTISER": [],
    "ADVERTISER_TARGETING": [],
    "CAMPAIGN": [],
    "CAMPAIGN_TARGETING": [],
    "AD_GROUP": [],
    "AD_GROUP_TARGETING": [],
    "PIN_PROMOTION": [],
    "PIN_PROMOTION_TARGETING": [],
    "KEYWORD": [],
    "PRODUCT_GROUP": [],
    "PRODUCT_GROUP_TARGETING": [],
    "PRODUCT_ITEM": []
  },
  "ViewWindowDays": {
    "ZERO": [],
    "ONE": [],
    "SEVEN": [],
    "FOURTEEN": [],
    "THIRTY": [],
    "SIXTY": []
  },
  "ReportConfig": {},
  "SourcePinterestPinterest": {
    "PINTEREST": []
  },
  "Status": {
    "ACTIVE": [],
    "PAUSED": [],
    "ARCHIVED": []
  },
  "SourcePinterest": {
    "UNSET": []
  },
  "SourceLeverHiringSchemasAuthType": {
    "API_KEY": []
  },
  "AuthenticateViaLeverAPIKey": {},
  "SourceLeverHiringAuthType": {
    "CLIENT": []
  },
  "AuthenticateViaLeverOAuth": {},
  "SourceLeverHiringEnvironment": {
    "PRODUCTION": [],
    "SANDBOX": []
  },
  "SourceLeverHiringLeverHiring": {
    "LEVER_HIRING": []
  },
  "SourceLeverHiring": {},
  "SourceLeverHiringAuthenticationMechanism": [],
  "Reddit": {
    "REDDIT": []
  },
  "SourceReddit": {},
  "SourceElasticsearchSchemasAuthenticationMethodMethod": {
    "BASIC": []
  },
  "SourceElasticsearchUsernamePassword": {},
  "SourceElasticsearchSchemasMethod": {
    "SECRET": []
  },
  "SourceElasticsearchAPIKeySecret": {},
  "SourceElasticsearchMethod": {
    "NONE": []
  },
  "SourceElasticsearchNone": {},
  "SourceElasticsearchElasticsearch": {
    "ELASTICSEARCH": []
  },
  "SourceElasticsearch": {},
  "SourceElasticsearchAuthenticationMethod": [],
  "Papersign": {
    "PAPERSIGN": []
  },
  "SourcePapersign": {},
  "TheGuardianAPI": {
    "THE_GUARDIAN_API": []
  },
  "SourceTheGuardianAPI": {},
  "Oncehub": {
    "ONCEHUB": []
  },
  "SourceOncehub": {},
  "PinterestCredentials": {},
  "Pinterest": {},
  "Factorial": {
    "FACTORIAL": []
  },
  "SourceFactorial": {},
  "Brex": {
    "BREX": []
  },
  "SourceBrex": {},
  "WorkspaceCreateRequest": {},
  "SourceSurveySparrowURLBase": {
    "HTTPS_API_SURVEYSPARROW_COM_V3": []
  },
  "GlobalAccount": {},
  "URLBase": {
    "HTTPS_EU_API_SURVEYSPARROW_COM_V3": []
  },
  "EUBasedAccount": {},
  "SurveySparrow": {
    "SURVEY_SPARROW": []
  },
  "SourceSurveySparrow": {},
  "BaseURL": [],
  "Applications": {},
  "Onesignal": {
    "ONESIGNAL": []
  },
  "SourceOnesignal": {},
  "Easypromos": {
    "EASYPROMOS": []
  },
  "SourceEasypromos": {},
  "Apptivo": {
    "APPTIVO": []
  },
  "SourceApptivo": {},
  "WasabiStatsAPI": {
    "WASABI_STATS_API": []
  },
  "SourceWasabiStatsAPI": {},
  "DestinationDatabricksAuthType": {
    "BASIC": []
  },
  "PersonalAccessToken": {},
  "DestinationDatabricksSchemasAuthType": {
    "OAUTH": []
  },
  "OAuth2Recommended": {},
  "Databricks": {
    "DATABRICKS": []
  },
  "DestinationDatabricks": {},
  "Authentication": [],
  "Salesforce": {},
  "SourceFireboltFirebolt": {
    "FIREBOLT": []
  },
  "SourceFirebolt": {},
  "MicrosoftTeamsCredentials": {},
  "MicrosoftTeams": {},
  "Codefresh": {
    "CODEFRESH": []
  },
  "SourceCodefresh": {},
  "AirbyteAPIConnectionSchedule": {},
  "AuthType": {
    "CLIENT": []
  },
  "DestinationSalesforceSalesforce": {
    "SALESFORCE": []
  },
  "DestinationSalesforceS3BucketRegion": {
    "UNKNOWN": [],
    "AF_SOUTH_1": [],
    "AP_EAST_1": [],
    "AP_NORTHEAST_1": [],
    "AP_NORTHEAST_2": [],
    "AP_NORTHEAST_3": [],
    "AP_SOUTH_1": [],
    "AP_SOUTH_2": [],
    "AP_SOUTHEAST_1": [],
    "AP_SOUTHEAST_2": [],
    "AP_SOUTHEAST_3": [],
    "AP_SOUTHEAST_4": [],
    "CA_CENTRAL_1": [],
    "CA_WEST_1": [],
    "CN_NORTH_1": [],
    "CN_NORTHWEST_1": [],
    "EU_CENTRAL_1": [],
    "EU_CENTRAL_2": [],
    "EU_NORTH_1": [],
    "EU_SOUTH_1": [],
    "EU_SOUTH_2": [],
    "EU_WEST_1": [],
    "EU_WEST_2": [],
    "EU_WEST_3": [],
    "IL_CENTRAL_1": [],
    "ME_CENTRAL_1": [],
    "ME_SOUTH_1": [],
    "SA_EAST_1": [],
    "US_EAST_1": [],
    "US_EAST_2": [],
    "US_GOV_EAST_1": [],
    "US_GOV_WEST_1": [],
    "US_WEST_1": [],
    "US_WEST_2": []
  },
  "DestinationSalesforceSchemasStorageType": {
    "S3": []
  },
  "DestinationSalesforceS3": {},
  "DestinationSalesforceStorageType": {
    "NONE": []
  },
  "DestinationSalesforceNone": {},
  "DestinationSalesforce": {},
  "DestinationSalesforceObjectStorageConfiguration": [],
  "ClarifAi": {
    "CLARIF_AI": []
  },
  "SourceClarifAi": {},
  "SapFieldglass": {
    "SAP_FIELDGLASS": []
  },
  "SourceSapFieldglass": {},
  "S3": {
    "S3": []
  },
  "DestinationS3SchemasCompressionCodec": {
    "UNCOMPRESSED": [],
    "SNAPPY": [],
    "GZIP": [],
    "LZO": [],
    "BROTLI": [],
    "LZ4": [],
    "ZSTD": []
  },
  "DestinationS3SchemasFormatOutputFormatFormatType": {
    "PARQUET": []
  },
  "DestinationS3ParquetColumnarStorage": {},
  "DestinationS3SchemasFormatOutputFormat3CompressionCodecCodec": {
    "SNAPPY": []
  },
  "DestinationS3Snappy": {},
  "DestinationS3SchemasFormatOutputFormat3Codec": {
    "ZSTANDARD": []
  },
  "DestinationS3Zstandard": {},
  "DestinationS3SchemasFormatOutputFormatCodec": {
    "XZ": []
  },
  "DestinationS3Xz": {},
  "DestinationS3SchemasFormatCodec": {
    "BZIP2": []
  },
  "DestinationS3Bzip2": {},
  "DestinationS3SchemasCodec": {
    "DEFLATE": []
  },
  "DestinationS3Deflate": {},
  "DestinationS3Codec": {
    "NO_COMPRESSION": []
  },
  "DestinationS3SchemasFormatNoCompression": {},
  "DestinationS3SchemasFormatFormatType": {
    "AVRO": []
  },
  "DestinationS3AvroApacheAvro": {},
  "DestinationS3SchemasFormatOutputFormatCompressionType": {
    "GZIP": []
  },
  "DestinationS3SchemasGZIP": {},
  "DestinationS3SchemasFormatCompressionType": {
    "NO_COMPRESSION": []
  },
  "DestinationS3SchemasNoCompression": {},
  "DestinationS3SchemasFlattening": {
    "NO_FLATTENING": [],
    "ROOT_LEVEL_FLATTENING": []
  },
  "DestinationS3SchemasFormatType": {
    "JSONL": []
  },
  "DestinationS3JSONLinesNewlineDelimitedJSON": {},
  "DestinationS3SchemasCompressionType": {
    "GZIP": []
  },
  "DestinationS3GZIP": {},
  "DestinationS3CompressionType": {
    "NO_COMPRESSION": []
  },
  "DestinationS3NoCompression": {},
  "DestinationS3Flattening": {
    "NO_FLATTENING": [],
    "ROOT_LEVEL_FLATTENING": []
  },
  "DestinationS3FormatType": {
    "CSV": []
  },
  "DestinationS3CSVCommaSeparatedValues": {},
  "DestinationS3S3BucketRegion": {
    "UNKNOWN": [],
    "AF_SOUTH_1": [],
    "AP_EAST_1": [],
    "AP_NORTHEAST_1": [],
    "AP_NORTHEAST_2": [],
    "AP_NORTHEAST_3": [],
    "AP_SOUTH_1": [],
    "AP_SOUTH_2": [],
    "AP_SOUTHEAST_1": [],
    "AP_SOUTHEAST_2": [],
    "AP_SOUTHEAST_3": [],
    "AP_SOUTHEAST_4": [],
    "CA_CENTRAL_1": [],
    "CA_WEST_1": [],
    "CN_NORTH_1": [],
    "CN_NORTHWEST_1": [],
    "EU_CENTRAL_1": [],
    "EU_CENTRAL_2": [],
    "EU_NORTH_1": [],
    "EU_SOUTH_1": [],
    "EU_SOUTH_2": [],
    "EU_WEST_1": [],
    "EU_WEST_2": [],
    "EU_WEST_3": [],
    "IL_CENTRAL_1": [],
    "ME_CENTRAL_1": [],
    "ME_SOUTH_1": [],
    "SA_EAST_1": [],
    "US_EAST_1": [],
    "US_EAST_2": [],
    "US_GOV_EAST_1": [],
    "US_GOV_WEST_1": [],
    "US_WEST_1": [],
    "US_WEST_2": []
  },
  "DestinationS3": {},
  "DestinationS3CompressionCodec": [],
  "DestinationS3SchemasCompression": [],
  "DestinationS3Compression": [],
  "DestinationS3OutputFormat": [],
  "SourceSlackSchemasOptionTitle": {
    "API_TOKEN_CREDENTIALS": []
  },
  "SourceSlackAPIToken": {},
  "SourceSlackOptionTitle": {
    "DEFAULT_O_AUTH2_0_AUTHORIZATION": []
  },
  "SignInViaSlackOAuth": {},
  "SourceSlackSlack": {
    "SLACK": []
  },
  "SourceSlack": {},
  "SourceSlackAuthenticationMechanism": [],
  "SourceBigqueryBigquery": {
    "BIGQUERY": []
  },
  "SourceBigquery": {},
  "SourcePhylloEnvironment": {
    "API_SANDBOX": [],
    "API_STAGING": [],
    "API": []
  },
  "Phyllo": {
    "PHYLLO": []
  },
  "SourcePhyllo": {},
  "DefinitionsResponse": {},
  "SourceRedshiftRedshift": {
    "REDSHIFT": []
  },
  "SourceRedshift": {},
  "SourceZohoBooksRegion": {
    "COM": [],
    "EU": [],
    "IN": [],
    "COM_CN": [],
    "COM_AU": [],
    "JP": [],
    "SA": [],
    "CA": []
  },
  "ZohoBooks": {
    "ZOHO_BOOKS": []
  },
  "SourceZohoBooks": {},
  "SourceOracleEnterpriseSchemasConnectionType": {
    "SID": []
  },
  "SourceOracleEnterpriseSystemIDSID": {},
  "SourceOracleEnterpriseConnectionType": {
    "SERVICE_NAME": []
  },
  "SourceOracleEnterpriseServiceName": {},
  "SourceOracleEnterpriseSchemasCursorMethod": {
    "CDC": []
  },
  "SourceOracleEnterpriseInvalidCDCPositionBehaviorAdvanced": {
    "FAIL_SYNC": [],
    "RE_SYNC_DATA": []
  },
  "SourceOracleEnterpriseReadChangesUsingChangeDataCaptureCDC": {},
  "SourceOracleEnterpriseCursorMethod": {
    "USER_DEFINED": []
  },
  "SourceOracleEnterpriseScanChangesWithUserDefinedCursor": {},
  "SourceOracleEnterpriseSchemasEncryptionEncryptionMethod": {
    "ENCRYPTED_VERIFY_CERTIFICATE": []
  },
  "SourceOracleEnterpriseTLSEncryptedVerifyCertificate": {},
  "SourceOracleEnterpriseEncryptionAlgorithm": {
    "AES256": [],
    "AES192": [],
    "AES128": [],
    "THREE_DES168": [],
    "THREE_DES112": [],
    "DES": []
  },
  "SourceOracleEnterpriseSchemasEncryptionMethod": {
    "CLIENT_NNE": []
  },
  "SourceOracleEnterpriseNativeNetworkEncryptionNNE": {},
  "SourceOracleEnterpriseEncryptionMethod": {
    "UNENCRYPTED": []
  },
  "SourceOracleEnterpriseUnencrypted": {},
  "OracleEnterprise": {
    "ORACLE_ENTERPRISE": []
  },
  "SourceOracleEnterpriseSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceOracleEnterprisePasswordAuthentication": {},
  "SourceOracleEnterpriseSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "SourceOracleEnterpriseSSHKeyAuthentication": {},
  "SourceOracleEnterpriseTunnelMethod": {
    "NO_TUNNEL": []
  },
  "SourceOracleEnterpriseNoTunnel": {},
  "SourceOracleEnterprise": {},
  "SourceOracleEnterpriseConnectBy": [],
  "SourceOracleEnterpriseUpdateMethod": [],
  "SourceOracleEnterpriseEncryption": [],
  "SourceOracleEnterpriseSSHTunnelMethod": [],
  "DestinationPutRequest": {},
  "PermissionUpdateRequest": {},
  "HighLevel": {
    "HIGH_LEVEL": []
  },
  "SourceHighLevel": {},
  "SourceZohoInvoiceRegion": {
    "COM": [],
    "EU": [],
    "IN": [],
    "COM_CN": [],
    "COM_AU": [],
    "JP": [],
    "SA": [],
    "CA": []
  },
  "ZohoInvoice": {
    "ZOHO_INVOICE": []
  },
  "SourceZohoInvoice": {},
  "HubspotCredentials": {},
  "Hubspot": {},
  "WorkspaceOAuthCredentialsRequest": {},
  "SourceS3SchemasDeliveryType": {
    "USE_FILE_TRANSFER": []
  },
  "SourceS3CopyRawFiles": {},
  "SourceS3DeliveryType": {
    "USE_RECORDS_TRANSFER": []
  },
  "SourceS3ReplicateRecords": {},
  "SourceS3S3": {
    "S3": []
  },
  "SourceS3SchemasStreamsFormatFormat6Filetype": {
    "EXCEL": []
  },
  "SourceS3ExcelFormat": {},
  "SourceS3SchemasStreamsFormatFormatFiletype": {
    "UNSTRUCTURED": []
  },
  "SourceS3Mode": {
    "LOCAL": []
  },
  "SourceS3Local": {},
  "SourceS3ParsingStrategy": {
    "AUTO": [],
    "FAST": [],
    "OCR_ONLY": [],
    "HI_RES": []
  },
  "SourceS3UnstructuredDocumentFormat": {},
  "SourceS3SchemasStreamsFormatFiletype": {
    "PARQUET": []
  },
  "SourceS3ParquetFormat": {},
  "SourceS3SchemasStreamsFiletype": {
    "JSONL": []
  },
  "SourceS3JsonlFormat": {},
  "SourceS3SchemasFiletype": {
    "CSV": []
  },
  "SourceS3SchemasStreamsHeaderDefinitionType": {
    "USER_PROVIDED": []
  },
  "SourceS3UserProvided": {},
  "SourceS3SchemasHeaderDefinitionType": {
    "AUTOGENERATED": []
  },
  "SourceS3Autogenerated": {},
  "SourceS3HeaderDefinitionType": {
    "FROM_CSV": []
  },
  "SourceS3FromCSV": {},
  "SourceS3CSVFormat": {},
  "SourceS3Filetype": {
    "AVRO": []
  },
  "SourceS3AvroFormat": {},
  "SourceS3ValidationPolicy": {
    "EMIT_RECORD": [],
    "SKIP_RECORD": [],
    "WAIT_FOR_DISCOVER": []
  },
  "SourceS3FileBasedStreamConfig": {},
  "SourceS3": {},
  "SourceS3DeliveryMethod": [],
  "SourceS3Processing": [],
  "SourceS3CSVHeaderDefinition": [],
  "SourceS3Format": [],
  "Bluetally": {
    "BLUETALLY": []
  },
  "SourceBluetally": {},
  "Repairshopr": {
    "REPAIRSHOPR": []
  },
  "SourceRepairshopr": {},
  "Days": {
    "ONE": [],
    "SEVEN": [],
    "FOURTEEN": [],
    "THIRTY": [],
    "NINETY": [],
    "ONE_HUNDRED_AND_EIGHTY": [],
    "THREE_HUNDRED_AND_SIXTY_FIVE": [],
    "MAX": []
  },
  "CoingeckoCoins": {
    "COINGECKO_COINS": []
  },
  "SourceCoingeckoCoins": {},
  "Onfleet": {
    "ONFLEET": []
  },
  "SourceOnfleet": {},
  "Finage": {
    "FINAGE": []
  },
  "TechnicalIndicatorType": {
    "DEMA": [],
    "EMA": [],
    "SMA": [],
    "WMA": [],
    "RSI": [],
    "TEMA": [],
    "WILLIAMS": [],
    "ADX": []
  },
  "TimeInterval": {
    "DAILY": [],
    "ONEMIN": [],
    "FIVEMIN": [],
    "FIFTEENMIN": [],
    "THIRTYMIN": [],
    "ONEHOUR": [],
    "FOURHOUR": []
  },
  "TimeAggregates": {
    "MINUTE": [],
    "HOUR": [],
    "DAY": [],
    "WEEK": [],
    "MONTH": [],
    "QUARTER": [],
    "YEAR": []
  },
  "TimePeriod": {
    "ANNUAL": [],
    "QUARTER": []
  },
  "SourceFinage": {},
  "WhiskyHunter": {
    "WHISKY_HUNTER": []
  },
  "SourceWhiskyHunter": {},
  "VismaEconomic": {
    "VISMA_ECONOMIC": []
  },
  "SourceVismaEconomic": {},
  "Domain": {
    "COM": [],
    "IN": [],
    "JP": [],
    "EU": [],
    "COM_AU": [],
    "CA": [],
    "COM_CN": [],
    "SA": []
  },
  "ZohoInventory": {
    "ZOHO_INVENTORY": []
  },
  "SourceZohoInventory": {},
  "Inflowinventory": {
    "INFLOWINVENTORY": []
  },
  "SourceInflowinventory": {},
  "SourceOktaSchemasCredentialsAuthType": {
    "API_TOKEN": []
  },
  "SourceOktaAPIToken": {},
  "SourceOktaSchemasAuthType": {
    "OAUTH2_0_PRIVATE_KEY": []
  },
  "OAuth20WithPrivateKey": {},
  "SourceOktaAuthType": {
    "OAUTH2_0": []
  },
  "SourceOktaOAuth20": {},
  "Okta": {
    "OKTA": []
  },
  "SourceOkta": {},
  "SourceOktaAuthorizationMethod": [],
  "Intruder": {
    "INTRUDER": []
  },
  "SourceIntruder": {},
  "DataSource": {
    "METRICS": [],
    "CLOUD_COST": [],
    "LOGS": [],
    "RUM": []
  },
  "Queries": {},
  "Site": {
    "DATADOGHQ_COM": [],
    "US3_DATADOGHQ_COM": [],
    "US5_DATADOGHQ_COM": [],
    "DATADOGHQ_EU": [],
    "DDOG_GOV_COM": []
  },
  "Datadog": {
    "DATADOG": []
  },
  "SourceDatadog": {},
  "DomainRegionCode": {
    "US": [],
    "EU": []
  },
  "Mailgun": {
    "MAILGUN": []
  },
  "SourceMailgun": {},
  "Copper": {
    "COPPER": []
  },
  "SourceCopper": {},
  "Partnerize": {
    "PARTNERIZE": []
  },
  "SourcePartnerize": {},
  "Fields": {
    "CLICKS": [],
    "COMPLETES": [],
    "COMPLETION_RATE": [],
    "CONVERSION_RATE": [],
    "CTR": [],
    "E_CPM": [],
    "E_CPCL": [],
    "FIRST_QUARTILES": [],
    "FREQUENCY": [],
    "IMPRESSIONS": [],
    "INTENT_RATE": [],
    "LISTENERS": [],
    "MIDPOINTS": [],
    "NEW_LISTENERS": [],
    "NEW_LISTENER_CONVERSION_RATE": [],
    "NEW_LISTENER_STREAMS": [],
    "OFF_SPOTIFY_IMPRESSIONS": [],
    "PAID_LISTENS": [],
    "PAID_LISTENS_FREQUENCY": [],
    "PAID_LISTENS_REACH": [],
    "REACH": [],
    "SKIPS": [],
    "SPEND": [],
    "STARTS": [],
    "STREAMS": [],
    "STREAMS_PER_NEW_LISTENER": [],
    "STREAMS_PER_USER": [],
    "THIRD_QUARTILES": [],
    "VIDEO_VIEWS": [],
    "VIDEO_EXPANDS": [],
    "VIDEO_EXPAND_RATE": [],
    "UNMUTES": []
  },
  "SpotifyAds": {
    "SPOTIFY_ADS": []
  },
  "SourceSpotifyAds": {},
  "Workramp": {
    "WORKRAMP": []
  },
  "SourceWorkramp": {},
  "Workflowmax": {
    "WORKFLOWMAX": []
  },
  "SourceWorkflowmax": {},
  "DestinationCreateRequest": {},
  "ConnectionSyncModeEnum": {
    "FULL_REFRESH_OVERWRITE": [],
    "FULL_REFRESH_OVERWRITE_DEDUPED": [],
    "FULL_REFRESH_APPEND": [],
    "FULL_REFRESH_UPDATE": [],
    "FULL_REFRESH_SOFT_DELETE": [],
    "INCREMENTAL_APPEND": [],
    "INCREMENTAL_DEDUPED_HISTORY": [],
    "INCREMENTAL_UPDATE": [],
    "INCREMENTAL_SOFT_DELETE": []
  },
  "Resolution": {
    "HOUR": [],
    "DAY": [],
    "WEEK": []
  },
  "Pingdom": {
    "PINGDOM": []
  },
  "SourcePingdom": {},
  "SourcePutRequest": {},
  "Milvus": {
    "MILVUS": []
  },
  "DestinationMilvusSchemasEmbeddingEmbedding5Mode": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationMilvusOpenAICompatible": {},
  "DestinationMilvusSchemasEmbeddingEmbeddingMode": {
    "AZURE_OPENAI": []
  },
  "DestinationMilvusAzureOpenAI": {},
  "DestinationMilvusSchemasEmbeddingMode": {
    "FAKE": []
  },
  "DestinationMilvusFake": {},
  "DestinationMilvusSchemasMode": {
    "COHERE": []
  },
  "DestinationMilvusCohere": {},
  "DestinationMilvusMode": {
    "OPENAI": []
  },
  "DestinationMilvusOpenAI": {},
  "DestinationMilvusSchemasIndexingAuthAuthenticationMode": {
    "NO_AUTH": []
  },
  "NoAuth": {},
  "DestinationMilvusSchemasIndexingAuthMode": {
    "USERNAME_PASSWORD": []
  },
  "DestinationMilvusUsernamePassword": {},
  "DestinationMilvusSchemasIndexingMode": {
    "TOKEN": []
  },
  "DestinationMilvusAPIToken": {},
  "DestinationMilvusIndexing": {},
  "DestinationMilvusFieldNameMappingConfigModel": {},
  "DestinationMilvusLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationMilvusSchemasProcessingTextSplitterTextSplitterMode": {
    "CODE": []
  },
  "DestinationMilvusByProgrammingLanguage": {},
  "DestinationMilvusSchemasProcessingTextSplitterMode": {
    "MARKDOWN": []
  },
  "DestinationMilvusByMarkdownHeader": {},
  "DestinationMilvusSchemasProcessingMode": {
    "SEPARATOR": []
  },
  "DestinationMilvusBySeparator": {},
  "DestinationMilvusProcessingConfigModel": {},
  "DestinationMilvus": {},
  "DestinationMilvusEmbedding": [],
  "DestinationMilvusAuthentication": [],
  "DestinationMilvusTextSplitter": [],
  "SourceAlpacaBrokerAPIEnvironment": {
    "API": [],
    "PAPER_API": [],
    "BROKER_API_SANDBOX": []
  },
  "AlpacaBrokerAPI": {
    "ALPACA_BROKER_API": []
  },
  "SourceAlpacaBrokerAPI": {},
  "Mailtrap": {
    "MAILTRAP": []
  },
  "SourceMailtrap": {},
  "Boldsign": {
    "BOLDSIGN": []
  },
  "SourceBoldsign": {},
  "OpenExchangeRates": {
    "OPEN_EXCHANGE_RATES": []
  },
  "SourceOpenExchangeRates": {},
  "Netsuite": {
    "NETSUITE": []
  },
  "SourceNetsuite": {},
  "SourceFaunaDeletionMode": {
    "DELETED_FIELD": []
  },
  "Enabled": {},
  "SourceFaunaSchemasDeletionMode": {
    "IGNORE": []
  },
  "Disabled": {},
  "Collection": {},
  "Fauna": {
    "FAUNA": []
  },
  "SourceFauna": {},
  "DeletionMode": [],
  "MercadoAds": {
    "MERCADO_ADS": []
  },
  "SourceMercadoAds": {},
  "Railz": {
    "RAILZ": []
  },
  "SourceRailz": {},
  "Buzzsprout": {
    "BUZZSPROUT": []
  },
  "SourceBuzzsprout": {},
  "Openaq": {
    "OPENAQ": []
  },
  "SourceOpenaq": {},
  "Gridly": {
    "GRIDLY": []
  },
  "SourceGridly": {},
  "Tinyemail": {
    "TINYEMAIL": []
  },
  "SourceTinyemail": {},
  "JobResponse": {},
  "EConomic": {
    "E_CONOMIC": []
  },
  "SourceEConomic": {},
  "DataCenter": {
    "EU_CENTRAL": [],
    "US_EAST": [],
    "CA_CENTRAL": [],
    "AP_SOUTHEAST": []
  },
  "Pipeliner": {
    "PIPELINER": []
  },
  "SourcePipeliner": {},
  "Aircall": {
    "AIRCALL": []
  },
  "SourceAircall": {},
  "CampaignMonitor": {
    "CAMPAIGN_MONITOR": []
  },
  "SourceCampaignMonitor": {},
  "Primetric": {
    "PRIMETRIC": []
  },
  "SourcePrimetric": {},
  "Plausible": {
    "PLAUSIBLE": []
  },
  "SourcePlausible": {},
  "JobsResponse": {},
  "Taboola": {
    "TABOOLA": []
  },
  "SourceTaboola": {},
  "SolarwindsServiceDesk": {
    "SOLARWINDS_SERVICE_DESK": []
  },
  "SourceSolarwindsServiceDesk": {},
  "Mailosaur": {
    "MAILOSAUR": []
  },
  "SourceMailosaur": {},
  "Deputy": {
    "DEPUTY": []
  },
  "SourceDeputy": {},
  "SourceAmazonAdsAuthType": {
    "OAUTH2_0": []
  },
  "Region": {
    "NA": [],
    "EU": [],
    "FE": []
  },
  "SourceAmazonAdsAmazonAds": {
    "AMAZON_ADS": []
  },
  "SourceAmazonAds": {},
  "Categories": {
    "ACCESSIBILITY": [],
    "BEST_PRACTICES": [],
    "PERFORMANCE": [],
    "PWA": [],
    "SEO": []
  },
  "GooglePagespeedInsights": {
    "GOOGLE_PAGESPEED_INSIGHTS": []
  },
  "Strategies": {
    "DESKTOP": [],
    "MOBILE": []
  },
  "SourceGooglePagespeedInsights": {},
  "SourceGitlabSchemasAuthType": {
    "ACCESS_TOKEN": []
  },
  "PrivateToken": {},
  "SourceGitlabAuthType": {
    "OAUTH2_0": []
  },
  "SourceGitlabOAuth20": {},
  "SourceGitlabGitlab": {
    "GITLAB": []
  },
  "SourceGitlab": {},
  "SourceGitlabAuthorizationMethod": [],
  "Safetyculture": {
    "SAFETYCULTURE": []
  },
  "SourceSafetyculture": {},
  "PermissionCreateRequest": {},
  "Oveit": {
    "OVEIT": []
  },
  "SourceOveit": {},
  "DataCenterLocation": {
    "US": [],
    "AU": [],
    "EU": [],
    "IN": [],
    "CN": [],
    "JP": []
  },
  "ZohoCRMEdition": {
    "FREE": [],
    "STANDARD": [],
    "PROFESSIONAL": [],
    "ENTERPRISE": [],
    "ULTIMATE": []
  },
  "SourceZohoCrmEnvironment": {
    "PRODUCTION": [],
    "DEVELOPER": [],
    "SANDBOX": []
  },
  "ZohoCrm": {
    "ZOHO_CRM": []
  },
  "SourceZohoCrm": {
    "UNSET": []
  },
  "Rest": {
    "REST": []
  },
  "RESTAPIStreams": {},
  "Raas": {
    "RAAS": []
  },
  "ReportBasedStreams": {},
  "Workday": {
    "WORKDAY": []
  },
  "SourceWorkday": {},
  "SourceWorkdayAuthentication": [],
  "Recurly": {
    "RECURLY": []
  },
  "SourceRecurly": {},
  "SourceAsanaSchemasCredentialsTitle": {
    "PAT_CREDENTIALS": []
  },
  "AuthenticateWithPersonalAccessToken": {},
  "SourceAsanaCredentialsTitle": {
    "O_AUTH_CREDENTIALS": []
  },
  "AuthenticateViaAsanaOauth": {},
  "SourceAsanaAsana": {
    "ASANA": []
  },
  "SourceAsana": {},
  "AuthenticationMechanism": [],
  "DataRegion": {
    "STANDARD_SERVER": [],
    "EU_RESIDENCY_SERVER": []
  },
  "Amplitude": {
    "AMPLITUDE": []
  },
  "SourceAmplitude": {},
  "SourceSftpBulkSchemasAuthType": {
    "PRIVATE_KEY": []
  },
  "AuthenticateViaPrivateKey": {},
  "SourceSftpBulkAuthType": {
    "PASSWORD": []
  },
  "AuthenticateViaPassword": {},
  "SourceSftpBulkSchemasDeliveryType": {
    "USE_FILE_TRANSFER": []
  },
  "SourceSftpBulkCopyRawFiles": {},
  "SourceSftpBulkDeliveryType": {
    "USE_RECORDS_TRANSFER": []
  },
  "SourceSftpBulkReplicateRecords": {},
  "SftpBulk": {
    "SFTP_BULK": []
  },
  "SourceSftpBulkSchemasStreamsFormatFormat6Filetype": {
    "EXCEL": []
  },
  "SourceSftpBulkExcelFormat": {},
  "SourceSftpBulkSchemasStreamsFormatFormatFiletype": {
    "UNSTRUCTURED": []
  },
  "SourceSftpBulkSchemasMode": {
    "API": []
  },
  "SourceSftpBulkAPIParameterConfigModel": {},
  "SourceSftpBulkViaAPI": {},
  "SourceSftpBulkMode": {
    "LOCAL": []
  },
  "SourceSftpBulkLocal": {},
  "SourceSftpBulkParsingStrategy": {
    "AUTO": [],
    "FAST": [],
    "OCR_ONLY": [],
    "HI_RES": []
  },
  "SourceSftpBulkUnstructuredDocumentFormat": {},
  "SourceSftpBulkSchemasStreamsFormatFiletype": {
    "PARQUET": []
  },
  "SourceSftpBulkParquetFormat": {},
  "SourceSftpBulkSchemasStreamsFiletype": {
    "JSONL": []
  },
  "SourceSftpBulkJsonlFormat": {},
  "SourceSftpBulkSchemasFiletype": {
    "CSV": []
  },
  "SourceSftpBulkSchemasStreamsHeaderDefinitionType": {
    "USER_PROVIDED": []
  },
  "SourceSftpBulkUserProvided": {},
  "SourceSftpBulkSchemasHeaderDefinitionType": {
    "AUTOGENERATED": []
  },
  "SourceSftpBulkAutogenerated": {},
  "SourceSftpBulkHeaderDefinitionType": {
    "FROM_CSV": []
  },
  "SourceSftpBulkFromCSV": {},
  "SourceSftpBulkCSVFormat": {},
  "SourceSftpBulkFiletype": {
    "AVRO": []
  },
  "SourceSftpBulkAvroFormat": {},
  "SourceSftpBulkValidationPolicy": {
    "EMIT_RECORD": [],
    "SKIP_RECORD": [],
    "WAIT_FOR_DISCOVER": []
  },
  "SourceSftpBulkFileBasedStreamConfig": {},
  "SourceSftpBulk": {},
  "SourceSftpBulkAuthentication": [],
  "SourceSftpBulkDeliveryMethod": [],
  "SourceSftpBulkProcessing": [],
  "SourceSftpBulkCSVHeaderDefinition": [],
  "SourceSftpBulkFormat": [],
  "Pretix": {
    "PRETIX": []
  },
  "SourcePretix": {},
  "DataType": {
    "LATEST": [],
    "HISTORICAL": []
  },
  "Coinmarketcap": {
    "COINMARKETCAP": []
  },
  "SourceCoinmarketcap": {},
  "Emailoctopus": {
    "EMAILOCTOPUS": []
  },
  "SourceEmailoctopus": {},
  "ConnectionPatchRequest": {},
  "Trello": {
    "TRELLO": []
  },
  "SourceTrello": {},
  "Shopwired": {
    "SHOPWIRED": []
  },
  "SourceShopwired": {},
  "Sevenshifts": {
    "SEVENSHIFTS": []
  },
  "Source7shifts": {},
  "TrackPms": {
    "TRACK_PMS": []
  },
  "SourceTrackPms": {},
  "PeriodUsedForMostPopularStreams": {
    "ONE": [],
    "SEVEN": [],
    "THIRTY": []
  },
  "ShareTypeUsedForMostPopularSharedStream": {
    "FACEBOOK": []
  },
  "Nytimes": {
    "NYTIMES": []
  },
  "SourceNytimes": {},
  "Kind": {
    "GROUP": [],
    "ORGANIZATION": []
  },
  "Missive": {
    "MISSIVE": []
  },
  "SourceMissive": {},
  "DefinitionResponse": {},
  "Fullstory": {
    "FULLSTORY": []
  },
  "SourceFullstory": {},
  "MicrosoftLists": {
    "MICROSOFT_LISTS": []
  },
  "SourceMicrosoftLists": {},
  "Basecamp": {
    "BASECAMP": []
  },
  "SourceBasecamp": {},
  "EncryptionMapperAlgorithm": {
    "RSA": [],
    "AES": []
  },
  "AzureBlobStorageCredentials": {},
  "AzureBlobStorage": {},
  "Postgres": {
    "POSTGRES": []
  },
  "DestinationPostgresSchemasSSLModeSSLModes6Mode": {
    "VERIFY_FULL": []
  },
  "VerifyFull": {},
  "DestinationPostgresSchemasSSLModeSSLModes5Mode": {
    "VERIFY_CA": []
  },
  "VerifyCa": {},
  "DestinationPostgresSchemasSSLModeSSLModesMode": {
    "REQUIRE": []
  },
  "Require": {},
  "DestinationPostgresSchemasSslModeMode": {
    "PREFER": []
  },
  "Prefer": {},
  "DestinationPostgresSchemasMode": {
    "ALLOW": []
  },
  "Allow": {},
  "DestinationPostgresMode": {
    "DISABLE": []
  },
  "Disable": {},
  "DestinationPostgresSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationPostgresPasswordAuthentication": {},
  "DestinationPostgresSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "DestinationPostgresSSHKeyAuthentication": {},
  "DestinationPostgresTunnelMethod": {
    "NO_TUNNEL": []
  },
  "DestinationPostgresNoTunnel": {},
  "DestinationPostgres": {},
  "SSLModes": [],
  "DestinationPostgresSSHTunnelMethod": [],
  "SourceRevolutMerchantEnvironment": {
    "SANDBOX_MERCHANT": [],
    "MERCHANT": []
  },
  "RevolutMerchant": {
    "REVOLUT_MERCHANT": []
  },
  "SourceRevolutMerchant": {},
  "ReplyIo": {
    "REPLY_IO": []
  },
  "SourceReplyIo": {},
  "Yellowbrick": {
    "YELLOWBRICK": []
  },
  "DestinationYellowbrickSchemasSSLModeSSLModes6Mode": {
    "VERIFY_FULL": []
  },
  "DestinationYellowbrickVerifyFull": {},
  "DestinationYellowbrickSchemasSSLModeSSLModes5Mode": {
    "VERIFY_CA": []
  },
  "DestinationYellowbrickVerifyCa": {},
  "DestinationYellowbrickSchemasSSLModeSSLModesMode": {
    "REQUIRE": []
  },
  "DestinationYellowbrickRequire": {},
  "DestinationYellowbrickSchemasSslModeMode": {
    "PREFER": []
  },
  "DestinationYellowbrickPrefer": {},
  "DestinationYellowbrickSchemasMode": {
    "ALLOW": []
  },
  "DestinationYellowbrickAllow": {},
  "DestinationYellowbrickMode": {
    "DISABLE": []
  },
  "DestinationYellowbrickDisable": {},
  "DestinationYellowbrickSchemasTunnelMethodTunnelMethod": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationYellowbrickPasswordAuthentication": {},
  "DestinationYellowbrickSchemasTunnelMethod": {
    "SSH_KEY_AUTH": []
  },
  "DestinationYellowbrickSSHKeyAuthentication": {},
  "DestinationYellowbrickTunnelMethod": {
    "NO_TUNNEL": []
  },
  "DestinationYellowbrickNoTunnel": {},
  "DestinationYellowbrick": {},
  "DestinationYellowbrickSSLModes": [],
  "DestinationYellowbrickSSHTunnelMethod": [],
  "Zenefits": {
    "ZENEFITS": []
  },
  "SourceZenefits": {},
  "Lang": {
    "AF": [],
    "AL": [],
    "AR": [],
    "AZ": [],
    "BG": [],
    "CA": [],
    "CZ": [],
    "DA": [],
    "DE": [],
    "EL": [],
    "EN": [],
    "EU": [],
    "FA": [],
    "FI": [],
    "FR": [],
    "GL": [],
    "HE": [],
    "HI": [],
    "HR": [],
    "HU": [],
    "ID": [],
    "IT": [],
    "JA": [],
    "KR": [],
    "LA": [],
    "LT": [],
    "MK": [],
    "NO": [],
    "NL": [],
    "PL": [],
    "PT": [],
    "PT_BR": [],
    "RO": [],
    "RU": [],
    "SV": [],
    "SE": [],
    "SK": [],
    "SL": [],
    "SP": [],
    "ES": [],
    "SR": [],
    "TH": [],
    "TR": [],
    "UA": [],
    "UK": [],
    "VI": [],
    "ZH_CN": [],
    "ZH_TW": [],
    "ZU": []
  },
  "Openweather": {
    "OPENWEATHER": []
  },
  "Units": {
    "STANDARD": [],
    "METRIC": [],
    "IMPERIAL": []
  },
  "SourceOpenweather": {},
  "PermissionsResponse": {},
  "Freshbooks": {
    "FRESHBOOKS": []
  },
  "SourceFreshbooks": {},
  "GithubCredentials": {},
  "Github": {},
  "Astra": {
    "ASTRA": []
  },
  "DestinationAstraSchemasEmbeddingEmbedding5Mode": {
    "OPENAI_COMPATIBLE": []
  },
  "OpenAICompatible": {},
  "DestinationAstraSchemasEmbeddingEmbeddingMode": {
    "AZURE_OPENAI": []
  },
  "AzureOpenAI": {},
  "DestinationAstraSchemasEmbeddingMode": {
    "FAKE": []
  },
  "Fake": {},
  "DestinationAstraSchemasMode": {
    "COHERE": []
  },
  "Cohere": {},
  "DestinationAstraMode": {
    "OPENAI": []
  },
  "OpenAI": {},
  "Indexing": {},
  "FieldNameMappingConfigModel": {},
  "DestinationAstraLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationAstraSchemasProcessingTextSplitterTextSplitterMode": {
    "CODE": []
  },
  "ByProgrammingLanguage": {},
  "DestinationAstraSchemasProcessingTextSplitterMode": {
    "MARKDOWN": []
  },
  "ByMarkdownHeader": {},
  "DestinationAstraSchemasProcessingMode": {
    "SEPARATOR": []
  },
  "BySeparator": {},
  "ProcessingConfigModel": {},
  "DestinationAstra": {},
  "Embedding": [],
  "TextSplitter": [],
  "Freshservice": {
    "FRESHSERVICE": []
  },
  "SourceFreshservice": {},
  "Duckdb": {
    "DUCKDB": []
  },
  "DestinationDuckdb": {},
  "PokemonName": {
    "BULBASAUR": [],
    "IVYSAUR": [],
    "VENUSAUR": [],
    "CHARMANDER": [],
    "CHARMELEON": [],
    "CHARIZARD": [],
    "SQUIRTLE": [],
    "WARTORTLE": [],
    "BLASTOISE": [],
    "CATERPIE": [],
    "METAPOD": [],
    "BUTTERFREE": [],
    "WEEDLE": [],
    "KAKUNA": [],
    "BEEDRILL": [],
    "PIDGEY": [],
    "PIDGEOTTO": [],
    "PIDGEOT": [],
    "RATTATA": [],
    "RATICATE": [],
    "SPEAROW": [],
    "FEAROW": [],
    "EKANS": [],
    "ARBOK": [],
    "PIKACHU": [],
    "RAICHU": [],
    "SANDSHREW": [],
    "SANDSLASH": [],
    "NIDORAN_F": [],
    "NIDORINA": [],
    "NIDOQUEEN": [],
    "NIDORAN_M": [],
    "NIDORINO": [],
    "NIDOKING": [],
    "CLEFAIRY": [],
    "CLEFABLE": [],
    "VULPIX": [],
    "NINETALES": [],
    "JIGGLYPUFF": [],
    "WIGGLYTUFF": [],
    "ZUBAT": [],
    "GOLBAT": [],
    "ODDISH": [],
    "GLOOM": [],
    "VILEPLUME": [],
    "PARAS": [],
    "PARASECT": [],
    "VENONAT": [],
    "VENOMOTH": [],
    "DIGLETT": [],
    "DUGTRIO": [],
    "MEOWTH": [],
    "PERSIAN": [],
    "PSYDUCK": [],
    "GOLDUCK": [],
    "MANKEY": [],
    "PRIMEAPE": [],
    "GROWLITHE": [],
    "ARCANINE": [],
    "POLIWAG": [],
    "POLIWHIRL": [],
    "POLIWRATH": [],
    "ABRA": [],
    "KADABRA": [],
    "ALAKAZAM": [],
    "MACHOP": [],
    "MACHOKE": [],
    "MACHAMP": [],
    "BELLSPROUT": [],
    "WEEPINBELL": [],
    "VICTREEBEL": [],
    "TENTACOOL": [],
    "TENTACRUEL": [],
    "GEODUDE": [],
    "GRAVELER": [],
    "GOLEM": [],
    "PONYTA": [],
    "RAPIDASH": [],
    "SLOWPOKE": [],
    "SLOWBRO": [],
    "MAGNEMITE": [],
    "MAGNETON": [],
    "FARFETCHD": [],
    "DODUO": [],
    "DODRIO": [],
    "SEEL": [],
    "DEWGONG": [],
    "GRIMER": [],
    "MUK": [],
    "SHELLDER": [],
    "CLOYSTER": [],
    "GASTLY": [],
    "HAUNTER": [],
    "GENGAR": [],
    "ONIX": [],
    "DROWZEE": [],
    "HYPNO": [],
    "KRABBY": [],
    "KINGLER": [],
    "VOLTORB": [],
    "ELECTRODE": [],
    "EXEGGCUTE": [],
    "EXEGGUTOR": [],
    "CUBONE": [],
    "MAROWAK": [],
    "HITMONLEE": [],
    "HITMONCHAN": [],
    "LICKITUNG": [],
    "KOFFING": [],
    "WEEZING": [],
    "RHYHORN": [],
    "RHYDON": [],
    "CHANSEY": [],
    "TANGELA": [],
    "KANGASKHAN": [],
    "HORSEA": [],
    "SEADRA": [],
    "GOLDEEN": [],
    "SEAKING": [],
    "STARYU": [],
    "STARMIE": [],
    "MRMIME": [],
    "SCYTHER": [],
    "JYNX": [],
    "ELECTABUZZ": [],
    "MAGMAR": [],
    "PINSIR": [],
    "TAUROS": [],
    "MAGIKARP": [],
    "GYARADOS": [],
    "LAPRAS": [],
    "DITTO": [],
    "EEVEE": [],
    "VAPOREON": [],
    "JOLTEON": [],
    "FLAREON": [],
    "PORYGON": [],
    "OMANYTE": [],
    "OMASTAR": [],
    "KABUTO": [],
    "KABUTOPS": [],
    "AERODACTYL": [],
    "SNORLAX": [],
    "ARTICUNO": [],
    "ZAPDOS": [],
    "MOLTRES": [],
    "DRATINI": [],
    "DRAGONAIR": [],
    "DRAGONITE": [],
    "MEWTWO": [],
    "MEW": [],
    "CHIKORITA": [],
    "BAYLEEF": [],
    "MEGANIUM": [],
    "CYNDAQUIL": [],
    "QUILAVA": [],
    "TYPHLOSION": [],
    "TOTODILE": [],
    "CROCONAW": [],
    "FERALIGATR": [],
    "SENTRET": [],
    "FURRET": [],
    "HOOTHOOT": [],
    "NOCTOWL": [],
    "LEDYBA": [],
    "LEDIAN": [],
    "SPINARAK": [],
    "ARIADOS": [],
    "CROBAT": [],
    "CHINCHOU": [],
    "LANTURN": [],
    "PICHU": [],
    "CLEFFA": [],
    "IGGLYBUFF": [],
    "TOGEPI": [],
    "TOGETIC": [],
    "NATU": [],
    "XATU": [],
    "MAREEP": [],
    "FLAAFFY": [],
    "AMPHAROS": [],
    "BELLOSSOM": [],
    "MARILL": [],
    "AZUMARILL": [],
    "SUDOWOODO": [],
    "POLITOED": [],
    "HOPPIP": [],
    "SKIPLOOM": [],
    "JUMPLUFF": [],
    "AIPOM": [],
    "SUNKERN": [],
    "SUNFLORA": [],
    "YANMA": [],
    "WOOPER": [],
    "QUAGSIRE": [],
    "ESPEON": [],
    "UMBREON": [],
    "MURKROW": [],
    "SLOWKING": [],
    "MISDREAVUS": [],
    "UNOWN": [],
    "WOBBUFFET": [],
    "GIRAFARIG": [],
    "PINECO": [],
    "FORRETRESS": [],
    "DUNSPARCE": [],
    "GLIGAR": [],
    "STEELIX": [],
    "SNUBBULL": [],
    "GRANBULL": [],
    "QWILFISH": [],
    "SCIZOR": [],
    "SHUCKLE": [],
    "HERACROSS": [],
    "SNEASEL": [],
    "TEDDIURSA": [],
    "URSARING": [],
    "SLUGMA": [],
    "MAGCARGO": [],
    "SWINUB": [],
    "PILOSWINE": [],
    "CORSOLA": [],
    "REMORAID": [],
    "OCTILLERY": [],
    "DELIBIRD": [],
    "MANTINE": [],
    "SKARMORY": [],
    "HOUNDOUR": [],
    "HOUNDOOM": [],
    "KINGDRA": [],
    "PHANPY": [],
    "DONPHAN": [],
    "PORYGON2": [],
    "STANTLER": [],
    "SMEARGLE": [],
    "TYROGUE": [],
    "HITMONTOP": [],
    "SMOOCHUM": [],
    "ELEKID": [],
    "MAGBY": [],
    "MILTANK": [],
    "BLISSEY": [],
    "RAIKOU": [],
    "ENTEI": [],
    "SUICUNE": [],
    "LARVITAR": [],
    "PUPITAR": [],
    "TYRANITAR": [],
    "LUGIA": [],
    "HO_OH": [],
    "CELEBI": [],
    "TREECKO": [],
    "GROVYLE": [],
    "SCEPTILE": [],
    "TORCHIC": [],
    "COMBUSKEN": [],
    "BLAZIKEN": [],
    "MUDKIP": [],
    "MARSHTOMP": [],
    "SWAMPERT": [],
    "POOCHYENA": [],
    "MIGHTYENA": [],
    "ZIGZAGOON": [],
    "LINOONE": [],
    "WURMPLE": [],
    "SILCOON": [],
    "BEAUTIFLY": [],
    "CASCOON": [],
    "DUSTOX": [],
    "LOTAD": [],
    "LOMBRE": [],
    "LUDICOLO": [],
    "SEEDOT": [],
    "NUZLEAF": [],
    "SHIFTRY": [],
    "TAILLOW": [],
    "SWELLOW": [],
    "WINGULL": [],
    "PELIPPER": [],
    "RALTS": [],
    "KIRLIA": [],
    "GARDEVOIR": [],
    "SURSKIT": [],
    "MASQUERAIN": [],
    "SHROOMISH": [],
    "BRELOOM": [],
    "SLAKOTH": [],
    "VIGOROTH": [],
    "SLAKING": [],
    "NINCADA": [],
    "NINJASK": [],
    "SHEDINJA": [],
    "WHISMUR": [],
    "LOUDRED": [],
    "EXPLOUD": [],
    "MAKUHITA": [],
    "HARIYAMA": [],
    "AZURILL": [],
    "NOSEPASS": [],
    "SKITTY": [],
    "DELCATTY": [],
    "SABLEYE": [],
    "MAWILE": [],
    "ARON": [],
    "LAIRON": [],
    "AGGRON": [],
    "MEDITITE": [],
    "MEDICHAM": [],
    "ELECTRIKE": [],
    "MANECTRIC": [],
    "PLUSLE": [],
    "MINUN": [],
    "VOLBEAT": [],
    "ILLUMISE": [],
    "ROSELIA": [],
    "GULPIN": [],
    "SWALOT": [],
    "CARVANHA": [],
    "SHARPEDO": [],
    "WAILMER": [],
    "WAILORD": [],
    "NUMEL": [],
    "CAMERUPT": [],
    "TORKOAL": [],
    "SPOINK": [],
    "GRUMPIG": [],
    "SPINDA": [],
    "TRAPINCH": [],
    "VIBRAVA": [],
    "FLYGON": [],
    "CACNEA": [],
    "CACTURNE": [],
    "SWABLU": [],
    "ALTARIA": [],
    "ZANGOOSE": [],
    "SEVIPER": [],
    "LUNATONE": [],
    "SOLROCK": [],
    "BARBOACH": [],
    "WHISCASH": [],
    "CORPHISH": [],
    "CRAWDAUNT": [],
    "BALTOY": [],
    "CLAYDOL": [],
    "LILEEP": [],
    "CRADILY": [],
    "ANORITH": [],
    "ARMALDO": [],
    "FEEBAS": [],
    "MILOTIC": [],
    "CASTFORM": [],
    "KECLEON": [],
    "SHUPPET": [],
    "BANETTE": [],
    "DUSKULL": [],
    "DUSCLOPS": [],
    "TROPIUS": [],
    "CHIMECHO": [],
    "ABSOL": [],
    "WYNAUT": [],
    "SNORUNT": [],
    "GLALIE": [],
    "SPHEAL": [],
    "SEALEO": [],
    "WALREIN": [],
    "CLAMPERL": [],
    "HUNTAIL": [],
    "GOREBYSS": [],
    "RELICANTH": [],
    "LUVDISC": [],
    "BAGON": [],
    "SHELGON": [],
    "SALAMENCE": [],
    "BELDUM": [],
    "METANG": [],
    "METAGROSS": [],
    "REGIROCK": [],
    "REGICE": [],
    "REGISTEEL": [],
    "LATIAS": [],
    "LATIOS": [],
    "KYOGRE": [],
    "GROUDON": [],
    "RAYQUAZA": [],
    "JIRACHI": [],
    "DEOXYS": [],
    "TURTWIG": [],
    "GROTLE": [],
    "TORTERRA": [],
    "CHIMCHAR": [],
    "MONFERNO": [],
    "INFERNAPE": [],
    "PIPLUP": [],
    "PRINPLUP": [],
    "EMPOLEON": [],
    "STARLY": [],
    "STARAVIA": [],
    "STARAPTOR": [],
    "BIDOOF": [],
    "BIBAREL": [],
    "KRICKETOT": [],
    "KRICKETUNE": [],
    "SHINX": [],
    "LUXIO": [],
    "LUXRAY": [],
    "BUDEW": [],
    "ROSERADE": [],
    "CRANIDOS": [],
    "RAMPARDOS": [],
    "SHIELDON": [],
    "BASTIODON": [],
    "BURMY": [],
    "WORMADAM": [],
    "MOTHIM": [],
    "COMBEE": [],
    "VESPIQUEN": [],
    "PACHIRISU": [],
    "BUIZEL": [],
    "FLOATZEL": [],
    "CHERUBI": [],
    "CHERRIM": [],
    "SHELLOS": [],
    "GASTRODON": [],
    "AMBIPOM": [],
    "DRIFLOON": [],
    "DRIFBLIM": [],
    "BUNEARY": [],
    "LOPUNNY": [],
    "MISMAGIUS": [],
    "HONCHKROW": [],
    "GLAMEOW": [],
    "PURUGLY": [],
    "CHINGLING": [],
    "STUNKY": [],
    "SKUNTANK": [],
    "BRONZOR": [],
    "BRONZONG": [],
    "BONSLY": [],
    "MIMEJR": [],
    "HAPPINY": [],
    "CHATOT": [],
    "SPIRITOMB": [],
    "GIBLE": [],
    "GABITE": [],
    "GARCHOMP": [],
    "MUNCHLAX": [],
    "RIOLU": [],
    "LUCARIO": [],
    "HIPPOPOTAS": [],
    "HIPPOWDON": [],
    "SKORUPI": [],
    "DRAPION": [],
    "CROAGUNK": [],
    "TOXICROAK": [],
    "CARNIVINE": [],
    "FINNEON": [],
    "LUMINEON": [],
    "MANTYKE": [],
    "SNOVER": [],
    "ABOMASNOW": [],
    "WEAVILE": [],
    "MAGNEZONE": [],
    "LICKILICKY": [],
    "RHYPERIOR": [],
    "TANGROWTH": [],
    "ELECTIVIRE": [],
    "MAGMORTAR": [],
    "TOGEKISS": [],
    "YANMEGA": [],
    "LEAFEON": [],
    "GLACEON": [],
    "GLISCOR": [],
    "MAMOSWINE": [],
    "PORYGON_Z": [],
    "GALLADE": [],
    "PROBOPASS": [],
    "DUSKNOIR": [],
    "FROSLASS": [],
    "ROTOM": [],
    "UXIE": [],
    "MESPRIT": [],
    "AZELF": [],
    "DIALGA": [],
    "PALKIA": [],
    "HEATRAN": [],
    "REGIGIGAS": [],
    "GIRATINA": [],
    "CRESSELIA": [],
    "PHIONE": [],
    "MANAPHY": [],
    "DARKRAI": [],
    "SHAYMIN": [],
    "ARCEUS": [],
    "VICTINI": [],
    "SNIVY": [],
    "SERVINE": [],
    "SERPERIOR": [],
    "TEPIG": [],
    "PIGNITE": [],
    "EMBOAR": [],
    "OSHAWOTT": [],
    "DEWOTT": [],
    "SAMUROTT": [],
    "PATRAT": [],
    "WATCHOG": [],
    "LILLIPUP": [],
    "HERDIER": [],
    "STOUTLAND": [],
    "PURRLOIN": [],
    "LIEPARD": [],
    "PANSAGE": [],
    "SIMISAGE": [],
    "PANSEAR": [],
    "SIMISEAR": [],
    "PANPOUR": [],
    "SIMIPOUR": [],
    "MUNNA": [],
    "MUSHARNA": [],
    "PIDOVE": [],
    "TRANQUILL": [],
    "UNFEZANT": [],
    "BLITZLE": [],
    "ZEBSTRIKA": [],
    "ROGGENROLA": [],
    "BOLDORE": [],
    "GIGALITH": [],
    "WOOBAT": [],
    "SWOOBAT": [],
    "DRILBUR": [],
    "EXCADRILL": [],
    "AUDINO": [],
    "TIMBURR": [],
    "GURDURR": [],
    "CONKELDURR": [],
    "TYMPOLE": [],
    "PALPITOAD": [],
    "SEISMITOAD": [],
    "THROH": [],
    "SAWK": [],
    "SEWADDLE": [],
    "SWADLOON": [],
    "LEAVANNY": [],
    "VENIPEDE": [],
    "WHIRLIPEDE": [],
    "SCOLIPEDE": [],
    "COTTONEE": [],
    "WHIMSICOTT": [],
    "PETILIL": [],
    "LILLIGANT": [],
    "BASCULIN": [],
    "SANDILE": [],
    "KROKOROK": [],
    "KROOKODILE": [],
    "DARUMAKA": [],
    "DARMANITAN": [],
    "MARACTUS": [],
    "DWEBBLE": [],
    "CRUSTLE": [],
    "SCRAGGY": [],
    "SCRAFTY": [],
    "SIGILYPH": [],
    "YAMASK": [],
    "COFAGRIGUS": [],
    "TIRTOUGA": [],
    "CARRACOSTA": [],
    "ARCHEN": [],
    "ARCHEOPS": [],
    "TRUBBISH": [],
    "GARBODOR": [],
    "ZORUA": [],
    "ZOROARK": [],
    "MINCCINO": [],
    "CINCCINO": [],
    "GOTHITA": [],
    "GOTHORITA": [],
    "GOTHITELLE": [],
    "SOLOSIS": [],
    "DUOSION": [],
    "REUNICLUS": [],
    "DUCKLETT": [],
    "SWANNA": [],
    "VANILLITE": [],
    "VANILLISH": [],
    "VANILLUXE": [],
    "DEERLING": [],
    "SAWSBUCK": [],
    "EMOLGA": [],
    "KARRABLAST": [],
    "ESCAVALIER": [],
    "FOONGUS": [],
    "AMOONGUSS": [],
    "FRILLISH": [],
    "JELLICENT": [],
    "ALOMOMOLA": [],
    "JOLTIK": [],
    "GALVANTULA": [],
    "FERROSEED": [],
    "FERROTHORN": [],
    "KLINK": [],
    "KLANG": [],
    "KLINKLANG": [],
    "TYNAMO": [],
    "EELEKTRIK": [],
    "EELEKTROSS": [],
    "ELGYEM": [],
    "BEHEEYEM": [],
    "LITWICK": [],
    "LAMPENT": [],
    "CHANDELURE": [],
    "AXEW": [],
    "FRAXURE": [],
    "HAXORUS": [],
    "CUBCHOO": [],
    "BEARTIC": [],
    "CRYOGONAL": [],
    "SHELMET": [],
    "ACCELGOR": [],
    "STUNFISK": [],
    "MIENFOO": [],
    "MIENSHAO": [],
    "DRUDDIGON": [],
    "GOLETT": [],
    "GOLURK": [],
    "PAWNIARD": [],
    "BISHARP": [],
    "BOUFFALANT": [],
    "RUFFLET": [],
    "BRAVIARY": [],
    "VULLABY": [],
    "MANDIBUZZ": [],
    "HEATMOR": [],
    "DURANT": [],
    "DEINO": [],
    "ZWEILOUS": [],
    "HYDREIGON": [],
    "LARVESTA": [],
    "VOLCARONA": [],
    "COBALION": [],
    "TERRAKION": [],
    "VIRIZION": [],
    "TORNADUS": [],
    "THUNDURUS": [],
    "RESHIRAM": [],
    "ZEKROM": [],
    "LANDORUS": [],
    "KYUREM": [],
    "KELDEO": [],
    "MELOETTA": [],
    "GENESECT": [],
    "CHESPIN": [],
    "QUILLADIN": [],
    "CHESNAUGHT": [],
    "FENNEKIN": [],
    "BRAIXEN": [],
    "DELPHOX": [],
    "FROAKIE": [],
    "FROGADIER": [],
    "GRENINJA": [],
    "BUNNELBY": [],
    "DIGGERSBY": [],
    "FLETCHLING": [],
    "FLETCHINDER": [],
    "TALONFLAME": [],
    "SCATTERBUG": [],
    "SPEWPA": [],
    "VIVILLON": [],
    "LITLEO": [],
    "PYROAR": [],
    "FLABEBE": [],
    "FLOETTE": [],
    "FLORGES": [],
    "SKIDDO": [],
    "GOGOAT": [],
    "PANCHAM": [],
    "PANGORO": [],
    "FURFROU": [],
    "ESPURR": [],
    "MEOWSTIC": [],
    "HONEDGE": [],
    "DOUBLADE": [],
    "AEGISLASH": [],
    "SPRITZEE": [],
    "AROMATISSE": [],
    "SWIRLIX": [],
    "SLURPUFF": [],
    "INKAY": [],
    "MALAMAR": [],
    "BINACLE": [],
    "BARBARACLE": [],
    "SKRELP": [],
    "DRAGALGE": [],
    "CLAUNCHER": [],
    "CLAWITZER": [],
    "HELIOPTILE": [],
    "HELIOLISK": [],
    "TYRUNT": [],
    "TYRANTRUM": [],
    "AMAURA": [],
    "AURORUS": [],
    "SYLVEON": [],
    "HAWLUCHA": [],
    "DEDENNE": [],
    "CARBINK": [],
    "GOOMY": [],
    "SLIGGOO": [],
    "GOODRA": [],
    "KLEFKI": [],
    "PHANTUMP": [],
    "TREVENANT": [],
    "PUMPKABOO": [],
    "GOURGEIST": [],
    "BERGMITE": [],
    "AVALUGG": [],
    "NOIBAT": [],
    "NOIVERN": [],
    "XERNEAS": [],
    "YVELTAL": [],
    "ZYGARDE": [],
    "DIANCIE": [],
    "HOOPA": [],
    "VOLCANION": [],
    "ROWLET": [],
    "DARTRIX": [],
    "DECIDUEYE": [],
    "LITTEN": [],
    "TORRACAT": [],
    "INCINEROAR": [],
    "POPPLIO": [],
    "BRIONNE": [],
    "PRIMARINA": [],
    "PIKIPEK": [],
    "TRUMBEAK": [],
    "TOUCANNON": [],
    "YUNGOOS": [],
    "GUMSHOOS": [],
    "GRUBBIN": [],
    "CHARJABUG": [],
    "VIKAVOLT": [],
    "CRABRAWLER": [],
    "CRABOMINABLE": [],
    "ORICORIO": [],
    "CUTIEFLY": [],
    "RIBOMBEE": [],
    "ROCKRUFF": [],
    "LYCANROC": [],
    "WISHIWASHI": [],
    "MAREANIE": [],
    "TOXAPEX": [],
    "MUDBRAY": [],
    "MUDSDALE": [],
    "DEWPIDER": [],
    "ARAQUANID": [],
    "FOMANTIS": [],
    "LURANTIS": [],
    "MORELULL": [],
    "SHIINOTIC": [],
    "SALANDIT": [],
    "SALAZZLE": [],
    "STUFFUL": [],
    "BEWEAR": [],
    "BOUNSWEET": [],
    "STEENEE": [],
    "TSAREENA": [],
    "COMFEY": [],
    "ORANGURU": [],
    "PASSIMIAN": [],
    "WIMPOD": [],
    "GOLISOPOD": [],
    "SANDYGAST": [],
    "PALOSSAND": [],
    "PYUKUMUKU": [],
    "TYPENULL": [],
    "SILVALLY": [],
    "MINIOR": [],
    "KOMALA": [],
    "TURTONATOR": [],
    "TOGEDEMARU": [],
    "MIMIKYU": [],
    "BRUXISH": [],
    "DRAMPA": [],
    "DHELMISE": [],
    "JANGMO_O": [],
    "HAKAMO_O": [],
    "KOMMO_O": [],
[...]
