{
  "main": [],
  "_PY2": [],
  "_USE_EMBEDDED_IMAGES": [],
  "_JUMP_TO_HELP": [],
  "_main": [],
  "menuconfig": [
    "kconf"
  ],
  "_load_config": [],
  "_needs_save": [],
  "_create_id_to_node": [],
  "_create_ui": [],
  "_load_images": [],
  "_fix_treeview_issues": [],
  "_init_misc_ui": [],
  "_create_top_widgets": [],
  "_create_kconfig_tree_and_desc": [
    "parent"
  ],
  "_create_kconfig_tree": [
    "parent"
  ],
  "_create_kconfig_desc": [
    "parent"
  ],
  "_add_vscrollbar": [
    "parent",
    "widget"
  ],
  "_create_status_bar": [],
  "_set_status": [
    "s"
  ],
  "_set_conf_changed": [
    "changed"
  ],
  "_update_tree": [],
  "_build_full_tree": [
    "menu"
  ],
  "_shown_full_nodes": [
    "menu"
  ],
  "_build_menu_tree": [],
  "_shown_menu_nodes": [
    "menu"
  ],
  "_visible": [
    "node"
  ],
  "_add_to_tree": [
    "node",
    "top"
  ],
  "_node_str": [
    "node"
  ],
  "_img_tag": [
    "node"
  ],
  "_is_y_mode_choice_sym": [
    "item"
  ],
  "_tree_click": [
    "event"
  ],
  "_tree_double_click": [
    "event"
  ],
  "_in_heading": [
    "event"
  ],
  "_tree_enter": [
    "event"
  ],
  "_tree_toggle": [
    "event"
  ],
  "_tree_left_key": [
    "_"
  ],
  "_tree_right_key": [
    "_"
  ],
  "_single_menu_mode_menu": [
    "node",
    "tree"
  ],
  "_changeable": [
    "node"
  ],
  "_tree_toggle_open": [
    "item"
  ],
  "_tree_set_val": [
    "tri_val"
  ],
  "_tree_open": [
    "_"
  ],
  "_update_menu_path": [
    "_"
  ],
  "_item_row": [
    "item"
  ],
  "_n_rows": [
    "item"
  ],
  "_attached": [
    "item"
  ],
  "_change_node": [
    "node",
    "parent"
  ],
  "_set_val": [
    "sc",
    "val"
  ],
  "_set_val_dialog": [
    "node",
    "parent"
  ],
  "_center_on_root": [
    "dialog"
  ],
  "_check_valid": [
    "dialog",
    "entry",
    "sym",
    "s"
  ],
  "_range_info": [
    "sym"
  ],
  "_save": [
    "_"
  ],
  "_save_as": [],
  "_save_minimal": [],
  "_open": [
    "_"
  ],
  "_toggle_showname": [
    "_"
  ],
  "_do_showname": [],
  "_toggle_showall": [
    "_"
  ],
  "_do_showall": [],
  "_nothing_shown": [],
  "_toggle_tree_mode": [
    "_"
  ],
  "_do_tree_mode": [],
  "_enter_menu_and_select_first": [
    "menu"
  ],
  "_enter_menu": [
    "menu"
  ],
  "_leave_menu": [],
  "_select": [
    "tree",
    "item"
  ],
  "_loc_ref_item": [],
  "_vis_loc_ref_item": [],
  "_vis_before": [
    "item"
  ],
  "_vis_after": [
    "item"
  ],
  "_on_quit": [
    "_"
  ],
  "_quit": [
    "msg"
  ],
  "_try_save": [
    "save_fn",
    "filename",
    "description"
  ],
  "_try_load": [
    "filename"
  ],
  "_jump_to_dialog": [
    "_"
  ],
  "_update_jump_to_matches": [
    "msglabel",
    "search_string"
  ],
  "_update_jump_to_display": [],
  "_jump_to": [
    "node"
  ],
  "_sorted_sc_nodes": [
    "cached_nodes"
  ],
  "_sorted_menu_comment_nodes": [
    "cached_nodes"
  ],
  "_load_parents": [
    "node"
  ],
  "_parent_menu": [
    "node"
  ],
  "_trace_write": [
    "var",
    "fn"
  ],
  "_info_str": [
    "node"
  ],
  "_name_info": [
    "sc"
  ],
  "_value_info": [
    "sym"
  ],
  "_choice_syms_info": [
    "choice"
  ],
  "_help_info": [
    "sc"
  ],
  "_direct_dep_info": [
    "sc"
  ],
  "_defaults_info": [
    "sc"
  ],
  "_split_expr_info": [
    "expr",
    "indent"
  ],
  "_select_imply_info": [
    "sym"
  ],
  "_kconfig_def_info": [
    "item"
  ],
  "_include_path_info": [
    "node"
  ],
  "_menu_path_info": [
    "node"
  ],
  "_name_and_val_str": [
    "sc"
  ],
  "_expr_str": [
    "expr"
  ],
  "_is_num": [
    "name"
  ],
  "VERSION": [],
  "Kconfig": {
    "__slots__": [],
    "__init__": [
      "self",
      "filename",
      "warn",
      "warn_to_stderr",
      "encoding",
      "suppress_traceback"
    ],
    "_init": [
      "self",
      "filename",
      "warn",
      "warn_to_stderr",
      "encoding"
    ],
    "mainmenu_text": [
      "self"
    ],
    "defconfig_filename": [
      "self"
    ],
    "load_config": [
      "self",
      "filename",
      "replace",
      "verbose"
    ],
    "_load_config": [
      "self",
      "filename",
      "replace"
    ],
    "_undef_assign": [
      "self",
      "name",
      "val",
      "filename",
      "linenr"
    ],
    "_assigned_twice": [
      "self",
      "sym",
      "new_val",
      "filename",
      "linenr"
    ],
    "load_allconfig": [
      "self",
      "filename"
    ],
    "write_autoconf": [
      "self",
      "filename",
      "header"
    ],
    "_autoconf_contents": [
      "self",
      "header"
    ],
    "write_config": [
      "self",
      "filename",
      "header",
      "save_old",
      "verbose"
    ],
    "_config_contents": [
      "self",
      "header"
    ],
    "write_min_config": [
      "self",
      "filename",
      "header"
    ],
    "_min_config_contents": [
      "self",
      "header"
    ],
    "sync_deps": [
      "self",
      "path"
    ],
    "_load_old_vals": [
      "self",
      "path"
    ],
    "_write_old_vals": [
      "self",
      "path"
    ],
    "_old_vals_contents": [
      "self"
    ],
    "node_iter": [
      "self",
      "unique_syms"
    ],
    "eval_string": [
      "self",
      "s"
    ],
    "unset_values": [
      "self"
    ],
    "enable_warnings": [
      "self"
    ],
    "disable_warnings": [
      "self"
    ],
    "enable_stderr_warnings": [
      "self"
    ],
    "disable_stderr_warnings": [
      "self"
    ],
    "enable_undef_warnings": [
      "self"
    ],
    "disable_undef_warnings": [
      "self"
    ],
    "enable_override_warnings": [
      "self"
    ],
    "disable_override_warnings": [
      "self"
    ],
    "enable_redun_warnings": [
      "self"
    ],
    "disable_redun_warnings": [
      "self"
    ],
    "__repr__": [
      "self"
    ],
    "_open_config": [
      "self",
      "filename"
    ],
    "_enter_file": [
      "self",
      "filename"
    ],
    "_leave_file": [
      "self"
    ],
    "_next_line": [
      "self"
    ],
    "_line_after_help": [
      "self",
      "line"
    ],
    "_write_if_changed": [
      "self",
      "filename",
      "contents"
    ],
    "_contents_eq": [
      "self",
      "filename",
      "contents"
    ],
    "_lookup_sym": [
      "self",
      "name"
    ],
    "_lookup_const_sym": [
      "self",
      "name"
    ],
    "_tokenize": [
      "self",
      "s"
    ],
    "_expect_sym": [
      "self"
    ],
    "_expect_nonconst_sym": [
      "self"
    ],
    "_expect_str_and_eol": [
      "self"
    ],
    "_expect_expr_and_eol": [
      "self"
    ],
    "_check_token": [
      "self",
      "token"
    ],
    "_parse_assignment": [
      "self",
      "s"
    ],
    "_expand_whole": [
      "self",
      "s",
      "args"
    ],
    "_expand_name": [
      "self",
      "s",
      "i"
    ],
    "_expand_name_iter": [
      "self",
      "s",
      "i"
    ],
    "_expand_str": [
      "self",
      "s",
      "i"
    ],
    "_expand_macro": [
      "self",
      "s",
      "i",
      "args"
    ],
    "_fn_val": [
      "self",
      "args"
    ],
    "_make_and": [
      "self",
      "e1",
      "e2"
    ],
    "_make_or": [
      "self",
      "e1",
      "e2"
    ],
    "_parse_block": [
      "self",
      "end_token",
      "parent",
      "prev"
    ],
    "_parse_cond": [
      "self"
    ],
    "_parse_props": [
      "self",
      "node"
    ],
    "_set_type": [
      "self",
      "sc",
      "new_type"
    ],
    "_parse_prompt": [
      "self",
      "node"
    ],
    "_parse_help": [
      "self",
      "node"
    ],
    "_empty_help": [
      "self",
      "node",
      "line"
    ],
    "_parse_expr": [
      "self",
      "transform_m"
    ],
    "_parse_and_expr": [
      "self",
      "transform_m"
    ],
    "_parse_factor": [
      "self",
      "transform_m"
    ],
    "_build_dep": [
      "self"
    ],
    "_add_choice_deps": [
      "self"
    ],
    "_invalidate_all": [
      "self"
    ],
    "_finalize_node": [
      "self",
      "node",
      "visible_if"
    ],
    "_propagate_deps": [
      "self",
      "node",
      "visible_if"
    ],
    "_add_props_to_sym": [
      "self",
      "node"
    ],
    "_check_sym_sanity": [
      "self"
    ],
    "_check_choice_sanity": [
      "self"
    ],
    "_parse_error": [
      "self",
      "msg"
    ],
    "_trailing_tokens_error": [
      "self"
    ],
    "_open": [
      "self",
      "filename",
      "mode"
    ],
    "_check_undef_syms": [
      "self"
    ],
    "_warn": [
      "self",
      "msg",
      "filename",
      "linenr"
    ]
  },
  "Symbol": {
    "__slots__": [],
    "type": [
      "self"
    ],
    "str_value": [
      "self"
    ],
    "tri_value": [
      "self"
    ],
    "assignable": [
      "self"
    ],
    "visibility": [
      "self"
    ],
    "config_string": [
      "self"
    ],
    "name_and_loc": [
      "self"
    ],
    "set_value": [
      "self",
      "value"
    ],
    "unset_value": [
      "self"
    ],
    "referenced": [
      "self"
    ],
    "orig_defaults": [
      "self"
    ],
    "orig_selects": [
      "self"
    ],
    "orig_implies": [
      "self"
    ],
    "orig_ranges": [
      "self"
    ],
    "__repr__": [
      "self"
    ],
    "__str__": [
      "self"
    ],
    "custom_str": [
      "self",
      "sc_expr_str_fn"
    ],
    "__init__": [
      "self"
    ],
    "_assignable": [
      "self"
    ],
    "_invalidate": [
      "self"
    ],
    "_rec_invalidate": [
      "self"
    ],
    "_rec_invalidate_if_has_prompt": [
      "self"
    ],
    "_str_default": [
      "self"
    ],
    "_warn_select_unsatisfied_deps": [
      "self"
    ]
  },
  "Choice": {
    "__slots__": [],
    "type": [
      "self"
    ],
    "str_value": [
      "self"
    ],
    "tri_value": [
      "self"
    ],
    "assignable": [
      "self"
    ],
    "visibility": [
      "self"
    ],
    "name_and_loc": [
      "self"
    ],
    "selection": [
      "self"
    ],
    "set_value": [
      "self",
      "value"
    ],
    "unset_value": [
      "self"
    ],
    "referenced": [
      "self"
    ],
    "orig_defaults": [
      "self"
    ],
    "__repr__": [
      "self"
    ],
    "__str__": [
      "self"
    ],
    "custom_str": [
      "self",
      "sc_expr_str_fn"
    ],
    "__init__": [
      "self"
    ],
    "_assignable": [
      "self"
    ],
    "_selection": [
      "self"
    ],
    "_selection_from_defaults": [
      "self"
    ],
    "_invalidate": [
      "self"
    ],
    "_rec_invalidate": [
      "self"
    ]
  },
  "MenuNode": {
    "__slots__": [],
    "__init__": [
      "self"
    ],
    "orig_prompt": [
      "self"
    ],
    "orig_defaults": [
      "self"
    ],
    "orig_selects": [
      "self"
    ],
    "orig_implies": [
      "self"
    ],
    "orig_ranges": [
      "self"
    ],
    "referenced": [
      "self"
    ],
    "__repr__": [
      "self"
    ],
    "__str__": [
      "self"
    ],
    "custom_str": [
      "self",
      "sc_expr_str_fn"
    ],
    "_menu_comment_node_str": [
      "self",
      "sc_expr_str_fn"
    ],
    "_sym_choice_node_str": [
      "self",
      "sc_expr_str_fn"
    ],
    "_strip_dep": [
      "self",
      "expr"
    ]
  },
  "Variable": {
    "__slots__": [],
    "expanded_value": [
      "self"
    ],
    "expanded_value_w_args": [
      "self"
    ],
    "__repr__": [
      "self"
    ]
  },
  "KconfigError": {},
  "KconfigSyntaxError": [],
  "InternalError": {},
  "_KconfigIOError": {
    "__init__": [
      "self",
      "ioerror",
      "msg"
    ],
    "__str__": [
      "self"
    ]
  },
  "expr_value": [
    "expr"
  ],
  "standard_sc_expr_str": [
    "sc"
  ],
  "expr_str": [
    "expr",
    "sc_expr_str_fn"
  ],
  "expr_items": [
    "expr"
  ],
  "split_expr": [
    "expr",
    "op"
  ],
  "escape": [
    "s"
  ],
  "unescape": [
    "s"
  ],
  "_unescape_sub": [],
  "standard_kconfig": [
    "description"
  ],
  "standard_config_filename": [],
  "load_allconfig": [
    "kconf",
    "filename"
  ],
  "_visibility": [
    "sc"
  ],
  "_depend_on": [
    "sc",
    "expr"
  ],
  "_parenthesize": [
    "expr",
    "type_",
    "sc_expr_str_fn"
  ],
  "_ordered_unique": [
    "lst"
  ],
  "_is_base_n": [
    "s",
    "n"
  ],
  "_strcmp": [
    "s1",
    "s2"
  ],
  "_sym_to_num": [
    "sym"
  ],
  "_touch_dep_file": [
    "path",
    "sym_name"
  ],
  "_save_old": [
    "path"
  ],
  "_locs": [
    "sc"
  ],
  "_expr_depends_on": [
    "expr",
    "sym"
  ],
  "_auto_menu_dep": [
    "node1",
    "node2"
  ],
  "_flatten": [
    "node"
  ],
  "_remove_ifs": [
    "node"
  ],
  "_finalize_choice": [
    "node"
  ],
  "_check_dep_loop_sym": [
    "sym",
    "ignore_choice"
  ],
  "_check_dep_loop_choice": [
    "choice",
    "skip"
  ],
  "_found_dep_loop": [
    "loop",
    "cur"
  ],
  "_decoding_error": [
    "e",
    "filename",
    "macro_linenr"
  ],
  "_warn_verbose_deprecated": [
    "fn_name"
  ],
  "_filename_fn": [
    "kconf",
    "_"
  ],
  "_lineno_fn": [
    "kconf",
    "_"
  ],
  "_info_fn": [
    "kconf",
    "_",
    "msg"
  ],
  "_warning_if_fn": [
    "kconf",
    "_",
    "cond",
    "msg"
  ],
  "_error_if_fn": [
    "kconf",
    "_",
    "cond",
    "msg"
  ],
  "_shell_fn": [
    "kconf",
    "_",
    "command"
  ],
  "TRI_TO_STR": [],
  "STR_TO_TRI": [],
  "_NO_CACHED_SELECTION": [],
  "_IS_PY2": [],
  "_get_keyword": [],
  "MENU": [],
  "COMMENT": [],
  "AND": [],
  "OR": [],
  "NOT": [],
  "EQUAL": [],
  "UNEQUAL": [],
  "LESS": [],
  "LESS_EQUAL": [],
  "GREATER": [],
  "GREATER_EQUAL": [],
  "REL_TO_STR": [],
  "UNKNOWN": [],
  "BOOL": [],
  "TRISTATE": [],
  "STRING": [],
  "INT": [],
  "HEX": [],
  "TYPE_TO_STR": [],
  "_TYPE_TO_BASE": [],
  "_DEF_TOKEN_TO_TYPE": [],
  "_STRING_LEX": [],
  "_TYPE_TOKENS": [],
  "_SOURCE_TOKENS": [],
  "_REL_SOURCE_TOKENS": [],
  "_OBL_SOURCE_TOKENS": [],
  "_BOOL_TRISTATE": [],
  "_BOOL_TRISTATE_UNKNOWN": [],
  "_INT_HEX": [],
  "_SYMBOL_CHOICE": [],
  "_MENU_COMMENT": [],
  "_EQUAL_UNEQUAL": [],
  "_RELATIONS": [],
  "_re_match": [
    "regex"
  ],
  "_re_search": [
    "regex"
  ],
  "_command_match": [],
  "_id_keyword_match": [],
  "_assignment_lhs_fragment_match": [],
  "_assignment_rhs_match": [],
  "_macro_special_search": [],
  "_string_special_search": [],
  "_name_special_search": [],
  "_conf_string_match": [],
  "oldconfig": [
    "node"
  ],
  "_name_and_loc_str": [
    "sc"
  ],
  "_print_help": [
    "node"
  ],
  "_default_value_str": [
    "sym"
  ],
  "DEFAULT_SYNC_DEPS_PATH": [],
  "_open_write": [
    "path"
  ],
  "_IS_WINDOWS": [],
  "_CHANGE_C_LC_CTYPE_TO_UTF8": [],
  "_SUBMENU_INDENT": [],
  "_PG_JUMP": [],
  "_SHOW_HELP_HEIGHT": [],
  "_SCROLL_OFFSET": [],
  "_INPUT_DIALOG_MIN_WIDTH": [],
  "_N_SCROLL_ARROWS": [],
  "_MAIN_HELP_LINES": [],
  "_INFO_HELP_LINES": [],
  "_JUMP_TO_HELP_LINES": [],
  "_STYLES": [],
  "_NAMED_COLORS": [],
  "_rgb_to_6cube": [
    "rgb"
  ],
  "_6cube_to_rgb": [
    "r6g6b6"
  ],
  "_rgb_to_gray": [
    "rgb"
  ],
  "_gray_to_rgb": [
    "index"
  ],
  "_alloc_rgb": [
    "rgb",
    "rgb2index"
  ],
  "_color_from_num": [
    "num"
  ],
  "_color_from_rgb": [
    "rgb"
  ],
  "_parse_style": [
    "style_str",
    "parsing_default"
  ],
  "_style": [],
  "_style_to_curses": [
    "style_def"
  ],
  "_init_styles": [],
  "_style_attr": [
    "fg_color",
    "bg_color",
    "attribs",
    "color_attribs"
  ],
  "_menuconfig": [
    "stdscr"
  ],
  "_quit_dialog": [],
  "_init": [],
  "_resize_main": [],
  "_height": [
    "win"
  ],
  "_width": [
    "win"
  ],
  "_select_selected_choice_sym": [],
  "_select_next_menu_entry": [],
  "_select_prev_menu_entry": [],
  "_select_last_menu_entry": [],
  "_select_first_menu_entry": [],
  "_toggle_show_all": [],
  "_center_vertically": [],
  "_draw_main": [],
  "_shown_nodes": [
    "menu"
  ],
  "_set_sel_node_tri_val": [
    "tri_val"
  ],
  "_update_menu": [],
  "_input_dialog": [
    "title",
    "initial_text",
    "info_text"
  ],
  "_resize_input_dialog": [
    "win",
    "title",
    "info_lines"
  ],
  "_draw_input_dialog": [
    "win",
    "title",
    "info_lines",
    "s",
    "i",
    "hscroll"
  ],
  "_load_dialog": [],
  "_save_dialog": [
    "save_fn",
    "default_filename",
    "description"
  ],
  "_key_dialog": [
    "title",
    "text",
    "keys"
  ],
  "_resize_key_dialog": [
    "win",
    "text"
  ],
  "_draw_key_dialog": [
    "win",
    "title",
    "text"
  ],
  "_draw_frame": [
    "win",
    "title"
  ],
  "_resize_jump_to_dialog": [
    "edit_box",
    "matches_win",
    "bot_sep_win",
    "help_win",
    "sel_node_i",
    "scroll"
  ],
  "_draw_jump_to_dialog": [
    "edit_box",
    "matches_win",
    "bot_sep_win",
    "help_win",
    "s",
    "s_i",
    "hscroll",
    "bad_re",
    "matches",
    "sel_node_i",
    "scroll"
  ],
  "_info_dialog": [
    "node",
    "from_jump_to_dialog"
  ],
  "_resize_info_dialog": [
    "top_line_win",
    "text_win",
    "bot_sep_win",
    "help_win"
  ],
  "_draw_info_dialog": [
    "node",
    "lines",
    "scroll",
    "top_line_win",
    "text_win",
    "bot_sep_win",
    "help_win"
  ],
  "_prompt_info": [
    "sc"
  ],
  "_indent": [
    "s",
    "n"
  ],
  "_styled_win": [
    "style"
  ],
  "_set_style": [
    "win",
    "style"
  ],
  "_max_scroll": [
    "lst",
    "win"
  ],
  "_edit_text": [
    "c",
    "s",
    "i",
    "hscroll",
    "width"
  ],
  "_load_save_info": [],
  "_msg": [
    "title",
    "text"
  ],
  "_error": [
    "text"
  ],
  "_should_show_name": [
    "node"
  ],
  "_value_str": [
    "node"
  ],
  "_getch_compat": [
    "win"
  ],
  "_warn": [],
  "_safe_curs_set": [
    "visibility"
  ],
  "_safe_addstr": [
    "win"
  ],
  "_safe_addch": [
    "win"
  ],
  "_safe_hline": [
    "win"
  ],
  "_safe_vline": [
    "win"
  ],
  "_safe_move": [
    "win"
  ],
  "_change_c_lc_ctype_to_utf8": []
}